[2018-07-04 10:07] joshangell opened #2 "Too much whitespace in dropdowns"
From https://github.com/angell-co/Pimp-My-Matrix/issues/25 by @bossanova808

---

I still think the whitespace is a lot too much though, personally. Or possibly some sort of nested organisation would help too...once you have a bunch of types, the drop down is still very large

![](https://user-images.githubusercontent.com/731309/42249593-7fde4fd8-7f6f-11e8-9ef7-80d217d10737.png)

[2018-07-04 10:10] joshangell commented on #2
Thanks for this Jeremy, I will see if we can tighten up the list or perhaps use some kind of toggle and collapse all the groups - for now I’m just using the native button list styles.

[2018-07-04 13:46] kisonay opened #3 "[Question] Release Date and Cost?"
I was just cuious if you had any more information about this? I have been egarly waiting a simliar plugin to come to Craft3. I have a site that is waiting to go to production and would love to use your plugin in its place.

[2018-07-04 14:01] joshangell commented on #3
Release date is probably this week, just need to submit it to the store and wait for it to get approved.

Cost, likely $59 with a lower annual updates fee.

If you need to you can just use it on your site now, if it causes issues you can always disable it and let the core Matrix go back to its normal self :)

[2018-07-04 14:04] kisonay commented on #3
Would love to but having problems with getting composer to load it. added the repository to composer.json:

`"repositories": [
    {
      "url": "https://github.com/angell-co/Spoon",
      "type": "git"
    }
  ],`

but get the following error when running `composer install angellco/spoon`

[code]

[2018-07-04 14:49] joshangell commented on #3
Ah, undo all of that and just run `composer require angellco/spoon:dev-master`, that will put you on the master branch. When I release it you will need to `composer remove angellco/spoon` and then `composer require angellco/spoon` to get back onto stable.

[2018-07-04 14:49] #3 closed

[2018-07-04 15:13] joshangell opened #4 "Switching entry type doesn’t update the UI"
Window resize does bring back the blank blocks, and on save does the tabs and groups

[2018-07-04 23:03] bossanova808 commented on #2
Hey Josh - well I certainly  like it.  I guess you might want other's opinions of course!  And I guess it would be configurable?

That would certainly help us, at least - we have a pretty full on page builder going on (as you can see!), and I think this would make the editing process noticeably better

[2018-07-05 07:16] joshangell commented on #2
Yeah I think it's useful, having played with it a bit now. I'll add it as a configurable thing which you can turn on per Matrix field from a config file, does that sound good?

[2018-07-05 07:17] bossanova808 commented on #2
Sounds awesome!

[2018-07-05 08:17] joshangell commented on #4
Fixed in 436411b7a3e3b34f11d9ca4ad640a89a33822f92

[2018-07-05 08:17] #4 closed

[2018-07-05 10:22] joshangell commented on #2
OK, this is done in 8a89fd88a1fac5988912ebe76078b7cab046a866

[2018-07-05 10:22] #2 closed

[2018-07-06 01:23] kisonay opened #5 "undefined label in preview mode"
When in live preview mode, the matrix dropdown is being displayed as "undefined"
<img width="184" alt="screen shot 2018-07-05 at 8 22 16 pm" src="https://user-images.githubusercontent.com/1854267/42355165-3921d498-8091-11e8-8789-1ef54735bc2e.png">

[2018-07-06 08:17] joshangell commented on #5
Hi @kisonay, I’m not sure how you are seeing this ... are you on the latest `dev-develop` tag?

[2018-07-06 12:09] kisonay commented on #5
actually useing `dev-master` let me try `dev-develop`

[2018-07-06 12:13] kisonay commented on #5
Yes, i still see this in `dev-develop` what can I do to provide more info?

[2018-07-06 14:21] joshangell commented on #5
Could you paste a larger screenshot? And the Craft version you are on.

[2018-07-06 14:39] kisonay commented on #5
Craft edition & version | Craft Pro 3.0.14

Looks to be specifically related to the width of the live preview editor column.

<img width="1386" alt="screen shot 2018-07-06 at 9 34 45 am" src="https://user-images.githubusercontent.com/1854267/42384625-2547f12c-8100-11e8-891a-1bb8e2d0eb60.png">

Narrower column:

<img width="1388" alt="screen shot 2018-07-06 at 9 34 56 am" src="https://user-images.g

[2018-07-06 15:08] joshangell commented on #5
Aaah got it, and yep - I noticed the tabs issue yesterday, will log it :)

[2018-07-06 15:11] joshangell opened #6 "Deal with tabs being too many / wide"
Happens easily in Live Preview but could also happen in the normal view if you have lots of tabs.

Possibly use a dropdown or something similar to the gear icon and just show the currently active tab.

![](https://user-images.githubusercontent.com/1854267/42384691-4b78da6e-8100-11e8-9c97-b5a91ba60fd6.png)

![](https://user-images.githubusercontent.com/1854267/42384745-6a00b5ba-8100-11e8-8a77-9a2e4

[2018-07-06 15:15] joshangell commented on #5
OK, you can see the fixed version now in the tag `dev-release/3.0.0`

[2018-07-06 15:23] kisonay commented on #5
requirement of Craft 3.0.15 which doesnt seem to be availble yet.

[2018-07-06 15:31] joshangell commented on #5
Ah, sorry, thats because I’m waiting for a change in the core to be released ... I’ve temporarily disabled that now ...

[2018-07-06 15:42] kisonay commented on #5
Add block label has been fixed (no longer shows as undefined.) Do you want me to open a seporate issue for the field tabs?

[2018-07-06 15:48] joshangell commented on #5
Thanks for confirming that - I have already opened a new issue for the tabs here: https://github.com/angell-co/Spoon/issues/6

Thanks for your help!

[2018-07-09 13:39] #5 closed

[2018-07-10 12:54] theskyfloor opened #7 "Breaks SuperTable in Matrix View"
If I use a Matrix within a Matrix and SuperTable is set to Matrix layout no blocks or content shows up.

Enabled:

<img width="977" alt="screen shot 2018-07-10 at 7 51 49 am" src="https://user-images.githubusercontent.com/8887839/42511030-6566eb32-8416-11e8-907a-f9cc9477b3e2.png">

Disabled:

<img width="813" alt="screen shot 2018-07-10 at 7 51 26 am" src="https://user-images.githubusercontent.com

[2018-07-10 12:55] theskyfloor commented on #7
I should add that Spoon works correctly when the SuperTable field is set to Table or Row layout

[2018-07-10 12:57] theskyfloor commented on #7
Actually, that isn't entirely true. Fields initialize correctly when I create a new block/row but when I save and refresh they no longer appear (at least for my plain text field test):

<img width="371" alt="screen shot 2018-07-10 at 7 57 17 am" src="https://user-images.githubusercontent.com/8887839/42511242-e8b62bce-8416-11e8-88e8-fb412ff15276.png">

[2018-07-10 12:59] joshangell commented on #7
Aaah yes, is this basically the same issue? https://github.com/angell-co/Pimp-My-Matrix/issues/40

[2018-07-10 13:04] theskyfloor commented on #7
Looks similar!

[2018-07-10 13:09] joshangell commented on #7
Cool, I’ve added it to the roadmap :)

[2018-07-10 18:26] jeffaglenn opened #8 "Safari becomes unresponsive when configuring layouts"
Really weird issue of Safari using a ton of resources, becoming unresponsive, and basically crashing when organizing the spoon layouts. Used Chrome and everything was okay. Let me know if I can help diagnose this a little better.

[2018-07-11 00:18] theskyfloor commented on #8
Same here.

[2018-07-11 05:44] joshangell opened #9 "Convert js to use new global Garnish events"
This should massively help with performance, and will hopefully remove the need to watch for resize events which I suspect is the issue with Safari (#8)

[2018-07-11 07:39] joshangell opened #10 "Initial page load in Safari shows blank blocks"
Requires window resize to fix

[2018-07-11 09:45] joshangell commented on #8
OK, I have tracked this down to a possible issue inside the core `Craft.Grid` class, which has [this innocuous line](https://github.com/craftcms/cms/blob/develop/src/web/assets/cp/src/js/Grid.js#L347):

[code]

For some reason when the `Craft.FieldLayoutDesigner` class is loaded inside a modal there are multiple resize events being added to the container in question, which causes an infinite loop.

[2018-07-17 12:53] joshangell commented on #8
OK, small update on this one - its been fixed in the core, so when the next Craft release gets pushed I’ll double check it fixes our issue and cut a new release for Spoon.

Thanks for your patience!

[2018-07-18 09:54] #8 closed

[2018-07-18 09:54] #10 closed

[2018-07-21 14:02] kisonay opened #11 "Add support for the "Typed Link Field" plugin"
Not really sure what the cause of this is but when I add multiple blocks things start to get a little wonky.

<img width="794" alt="screen shot 2018-07-21 at 9 00 10 am" src="https://user-images.githubusercontent.com/1854267/43036306-99d6992e-8cc4-11e8-88e2-0369dc00f2d5.png">

<img width="791" alt="screen shot 2018-07-21 at 9 00 32 am" src="https://user-images.githubusercontent.com/1854267/4303630

[2018-07-23 12:15] joshangell commented on #11
Hi @kisonay, thanks for the bug report. Please could you come back to me with your browser version, Craft version, Spoon version and any other plugins you have installed.

Thanks!

[2018-07-23 12:16] kisonay commented on #11
It might be related to the custom field type "link entry" It's the latest version of Craft3 and Chrome. I'll try to get you the list of information requested as soon as possible.

[2018-07-23 12:17] joshangell commented on #11
Thanks, you could try disabling that field types’s plugin and see if the issue goes away.

[2018-07-23 12:19] kisonay commented on #11
I would say that is the culprit. Everything appears normal with it disabled.

[2018-07-23 12:21] joshangell commented on #11
Cool, thank you for confirming that. Is this a publicly available plugin?

[2018-07-23 12:22] kisonay commented on #11
Yes Sir...

<img width="318" alt="screen shot 2018-07-23 at 7 22 26 am 1" src="https://user-images.githubusercontent.com/1854267/43076241-33c7237a-8e49-11e8-9e01-7b584e3e7076.png">

[2018-07-23 12:23] joshangell commented on #11
Ah cool, I will see if we can support it in some way :)

[2018-07-23 12:33] joshangell commented on #11
Yeah I can’t seem to reproduce this either ... just installed the plugin and had a play and it seems fine. I’ll close for now!

[2018-07-23 12:33] #11 closed

[2018-07-23 12:42] kisonay commented on #11
Thank you for taking the time to look into it. Perhaps things just got a bit stuck and the disable/enable sorted it out.

[2018-07-23 12:49] kisonay opened #12 "[Enhancement] Organize fields on on-groups blocks"
Possible enhancement. I have a matrix field that is rather small (3 blocks) and would like to use Spoon to organize the fields on each block.

I can't organize the fields unless the blocks are grouped together, which seems a little odd with 1 block in each group.

It would be nice to allow field organization for non-grouped blocks.

[2018-07-24 09:41] joshangell commented on #12
I agree, its an unfortunate side effect of the field layouts depending on the block type groupings in the database.

[2018-07-30 08:14] howells opened #13 "Layouts no longer being applied"
I'm not sure at what point this happened, but my Spoon layouts don't seem to be being applied to my Matrix blocks and I'm not sure where to start debugging.

Content Blocks config
https://cl.ly/tJsu

Image and Text block config
https://cl.ly/tIpm

As shown on entry form
https://cl.ly/tJHZ

Any ideas?

[2018-08-01 23:12] howells commented on #13
Sorry I'm afraid I'm not following!

This is all I see when I go to Section > Entry Type > Field Layout  for a single: https://cl.ly/tPhu

I'm just expecting the layout I define in /admin/settings/plugins/spoon for a particular matrix field to appear like that wherever it's used. Not sure where I'm going wrong.

[2018-08-02 08:35] joshangell commented on #13
Ah, so if you defined it in `/admin/settings/plugins/spoon` it should appear wherever we support Matrix fields, but it doesn’t look like the per field-layout configurator is loading on your single, I will investigate and come back to you :)

[2018-08-09 08:25] joshangell commented on #13
Hi @howells, I’ve just taken a look at this and can’t reproduce it on my setup - could you send me an example of the URL you are accessing your Single’s field layout at? For example, mine looks like this: `https://crft.test/admin/settings/sections/2/entrytypes/3`

[2018-08-09 09:07] howells commented on #13
It looks like `/admin/settings/sections/2/entrytypes/2` - here's a grab - https://cl.ly/3R1N3z190d0A - and to confirm, here's the Content Blocks in the Spoon plugin settings - https://cl.ly/3I230B2u2825

[2018-08-10 03:50] BenParizek opened #15 "ImageOptimize plugin field settings do not display when Spoon is enabled"
Screenshot: http://share.barrelstrength.co/10390c1z1N2D
Related issue: https://github.com/nystudio107/craft-imageoptimize/issues/94

The ImageOptimize plugin uses matrix block classes in how it styles its settings pages:
https://github.com/nystudio107/craft-imageoptimize/blob/v1/src/templates/_components/fields/OptimizedImages_settings.twig#L69

It seems the styles Spoon adds to the CP may conflic

[2018-08-10 04:16] joshangell commented on #15
Thanks Ben, I'll take a look!

On Fri, 10 Aug 2018, 04:50 Ben Parizek, <notifications@github.com> wrote:

[2018-08-11 23:00] khalwat commented on #15
Yep, I'm happy to add whatever wrapper class you need me to add @joshangell -- just lmk where/how to add it!

[2018-08-14 02:52] howells commented on #13
Hi - just wondered if there was any update on this? Due to hand over the site to a client soon and the matrrix fields are looking very cumbersome!

[2018-08-14 05:10] joshangell commented on #13
Sorry Daniel, I'm on paternity leave at the moment so haven't had much of a chance yet.

Could you email me a database to josh@angell.io please?

[2018-08-14 11:45] howells commented on #13
@joshangell done, thanks!

[2018-08-14 21:52] joshangell commented on #15
@BenParizek Fixed in this PR here: https://github.com/nystudio107/craft-imageoptimize/pull/96

[2018-08-14 21:52] #15 closed

[2018-08-15 16:04] BenParizek opened #16 "FR: A group with a single item becomes a button with no dropdown"
I expect you considered this and there may be challenges to doing so, but if it becomes possible at some point, it'd be nice to see single items in groups be active buttons without the additional step of a dropdown with one item in it.

A rough mockup just for conversation:
http://share.barrelstrength.co/1n0m320u1D3V

Perhaps this update relates to this issue:
https://github.com/angell-co/Spoon/is

[2018-08-15 16:08] kisonay commented on #16
Agreed. If A group only has 1 item in it have it a single item and not a group. That would give you the database refenence to store the settings.

[2018-08-22 10:10] joshangell commented on #15
Fixed in the confetti release: https://github.com/nystudio107/craft-imageoptimize/releases/tag/1.4.38

[2018-08-25 14:14] H-i-red opened #17 "Layout issues"
A lot of layout issues (see screenshots).

Mac
Firefox 61.0.2
Craft Solo 3.0.21
PHP 7.2.1

![4](https://user-images.githubusercontent.com/19476159/44619055-fd139780-a880-11e8-8e51-ca07a2f556fb.png)
![1](https://user-images.githubusercontent.com/19476159/44619071-19afcf80-a881-11e8-9d4f-4e5bb93d4576.png)
![5](https://user-images.githubusercontent.com/19476159/44619050-ec632180-a880-11e8-8ef0-52f66b

[2018-08-25 14:29] joshangell commented on #17
Interesting, thanks for this. I'll take a look when I'm back from paternity
leave in another week or so.

On Sat, 25 Aug 2018, 15:14 H i, <notifications@github.com> wrote:

[2018-08-28 16:02] joshangell commented on #13
This was due to `Craft::$app->getUser()->getIsGuest()` being checked before we load anything, and sometimes it returned `false` when I thought it wouldn’t ... so that was weird. But, we don’t actually need it as we have the `isCpRequest` check, so I just removed it.

[2018-08-29 10:15] joshangell commented on #7
Update: this is partially fixed in that you can now see the fields, but the buttons and settings menus are pretty broken.

[2018-08-29 13:09] H-i-red commented on #17
1. `.spoon-fields` only get styled by `opacity: 0` and taking up space, when it should be set to `display:none` or `height: 0px`.
2. `.spoon-tabs` are still clickable in collapsed mode, same here `opacity:0`.

[2018-08-29 13:15] H-i-red commented on #17
`.titlebar > .preview` data gets lost upon expanding the matrixblock. When I collapse the block and save the page the preview data is back. But as soon as I expand it again its lost..

[2018-08-29 13:31] H-i-red commented on #17
Does not remember `collapsed / expanded` state upon **first** save ! Collaps it again and save a **second** time then it _remebers_ ...

[2018-08-29 15:16] joshangell commented on #17
OK, so there is obviously something unusual going on.

Could you please try in an alternate browser such as Chrome for me?

Also, please could you send me a database to josh@angell.io so I can try
and reproduce your issue.

My gut instinct is that it could be something to do with another plugin.

On Wed, 29 Aug 2018, 14:31 H i, <notifications@github.com> wrote:

[2018-08-31 09:15] H-i-red commented on #17
I went for another solution / plugin, thanks for help.

[2018-08-31 10:27] jamielaughton opened #18 "Excluding required field from field layout prevents saving of entry"
I'm using a spooned matrix component a couple of different ways, depending on which fields I include through 'edit field layout'.

I have a field which when included, I want to be required. My issue is that when I do not include the field I cannot save the entry. It looks like Craft is registering the required field, even if it is not included and preventing save.

[2018-09-01 12:58] joshangell commented on #18
Hi Jamie,

This is to be expected in one sense, as all Spoon does is sit on top of a
normal Matrix field.

So if you require a field in the Matrix configuration it will always be
required, even if you can't see it.

I'm not sure if there is a way around it whilst keeping the core plugin
premise of using only the core Matrix.

I'm back at work from paternity leave next week so I'll try and take a l

[2018-09-03 07:54] joshangell commented on #17
Cool, sorry it didn’t work for you, I can’t reproduce any of these issues though so it would be helpful if you could give me a list of plugins you had installed at some point, then I can work out what was causing the conflict.

[2018-09-03 07:54] #17 closed

[2018-09-04 09:55] jamielaughton commented on #18
That makes sense, and I understand you wouldn't want to add functionality that would break pages if Spoon was to be uninstalled.

It's easy to work around by adding clear field instructions etc, so it's not a biggie.

Once you're back off paternity I should be just starting mine 😊 Congrats on the new addition!

[2018-09-04 09:58] joshangell commented on #18
Ah thanks, and congrats to you too!

I just realised that there is server side validation too, so it would never be possible with just hi-jacking the front-end, which means its probably not a good idea to try and sort so I’ll close this for now.

[2018-09-04 09:58] #18 closed

[2018-09-04 13:49] joshangell opened #19 "Add better Super Table support"
- [x] Enable global context of matrix fields inside ST fields to work, as well as Matrix > ST > Matrix.
- [ ] Provide more specific contexts (e.g. entry types).

[2018-09-04 13:52] #7 closed

[2018-09-04 13:53] joshangell commented on #7
Added support for Super Table allowing you to use Spoon on Matrix fields that are inside Super Table fields, both `Super Table > Matrix` and `Matrix > Super Table > Matrix`.

Initially this is only for the global context which means you can only change these nested Matrix fields in the Spoon settings page and those changes apply everywhere.

See #19 for updates on that.

[2018-09-06 08:50] joshangell opened #20 "Refactor how the block type configurations are created"
Look to create a CP tab which has views of each context-type (global, entry type, category group etc), and allows you to create configurations from there instead.

Once that is done it will be easier to deal with the rest of #19.

Equally this may help with #16 and #12 as it will make more sense creating just a field layout from this sort of screen rather than from the core FLD screens.

[2018-09-06 08:53] joshangell opened #21 "Minify the CSS and JS"

[2018-09-06 16:30] prometeusweb opened #22 "Support translations for tabs and groups labels"
I tried to apply a custom translation via site.php or app.php translation file to tabs label but I cannot see the result translation. Is it possible to use custom translations for groups and tabs labels?

![image](https://user-images.githubusercontent.com/11584377/45171352-735db580-b202-11e8-996c-56fad3189342.png)

[2018-09-06 16:58] joshangell commented on #22
Really good point, thanks for picking up on that, I'll schedule some time
for it next week.

On Thu, 6 Sep 2018, 17:30 prometeusweb, <notifications@github.com> wrote:

[2018-09-12 09:47] johnwbaxter opened #23 "Cannot drag field onto group if group is offscreen"
Steps to reproduce:

Create a long list of fields and create a Spoon field group.
Scroll down in modal until group is out of view.
Drag field up to put into group.
Content doesn't scroll up so you never see group.

Tested in Version 3.2.0 of Spoon.

[2018-09-12 10:03] joshangell commented on #23
Workaround is to use the up/down arrow keys to move the modal content pane for now.

[2018-09-12 11:04] joshangell commented on #22
Hi @prometeusweb - could you see if this fixes things for you?

Tab and Group names will be in `site.php`, core text strings will be in `app.php` and anything related to the Spoon interface will be in `spoon.php`.

[2018-09-12 11:06] joshangell opened #24 "Support Project Config"
See here: https://craftcms.com/support/craft-3-1-dev-preview-notes#project-config

https://github.com/craftcms/cms/blob/3.1/docs/extend/project-config.md

https://craftcms.com/guides/updating-plugins-for-craft-3-1

[2018-09-12 11:07] joshangell opened #25 "Support Soft Deletes on block type configurations"
See here: https://craftcms.com/support/craft-3-1-dev-preview-notes#support-for-other-things
And: https://craftcms.com/guides/updating-plugins-for-craft-3-1

[2018-09-13 05:52] ricdev opened #26 "Error occurs when executing php craft schematic/import"
Process:
- Install spoon in plugin.
- run on command line to export data, php craft schematic/export.
- then run to verify data, php craft schematic/import.

Errors:
- Installing plugin spoon
Exception 'ReflectionException' with message 'Class array does not exist'
in /media/sf_htdocs/project-cat/codeandtheory-com/back-end/vendor/yiisoft/yii2/di/Container.php:428

Stack trace:
#0 /media/sf_htdocs/

[2018-09-13 20:11] chasegiunta opened #27 "Detect errors preventing save, highlight applicable tab"
If there's any tabs that contain required fields, and those fields are preventing save, there's no indicator on which tab, in which field, is preventing the save without going through every tab on Spoon field.

Would be great if Spoon could figure out which tabs need attention and highlight that tab text red, just as regular entry tabs do.

[2018-09-14 09:17] joshangell commented on #27
Good spot! Thanks Chase.

[2018-09-17 09:33] prometeusweb commented on #22
Thank you, it's working fine!

[2018-09-19 21:23] elivz opened #28 "Entry types falling back to wrong configuration"
I have a single "content" Matrix field with a bunch of different block types that I use for many of the entry types throughout my site. I set up a global layout that most of the types use, but also customized it for several entry types (to limit the blocks that are available). The issue comes for entry types that have no explicit layout. Instead of falling back to the global layout, they appear to

[2018-09-21 10:08] joshangell opened #31 "Add type check to BlockTypes::getFieldLayoutIds()"
It seems like ``$context`` can also be of type ``array`` and ``array``; however, parameter ``$context`` of ``angellco\spoon\services\BlockTypes::getFieldLayoutIds()`` does only seem to accept ``string``, maybe add an additional type check?

Filename: src/controllers/BlockTypesController.php
LineNumber: 67
Link: https://scrutinizer-ci.com/g/angell-co/Spoon/issues/master/files/src/controllers/BlockT

[2018-09-21 10:09] joshangell commented on #31
Also: It seems like ``$context`` can also be of type ``array`` or ``array``. However, the property ``$context`` is declared as type ``null|string``. Maybe add an additional type check?

 Filename: src/controllers/BlockTypesController.php  LineNumber: 86  Link: https://scrutinizer-ci.com/g/angell-co/Spoon/issues/master/files/src/controllers/BlockTypesController.php?selectedLabels%5B0%5D=9&orderFiel

[2018-09-21 10:11] joshangell opened #32 "Fix deprecated method"
The method ``returnJson()`` does not exist on ``angellco\spoon\controllers\BlockTypesController``.

see https://scrutinizer-ci.com/g/angell-co/Spoon/issues/master/files/src/controllers/BlockTypesController.php?selectedLabels%5B0%5D=9&orderField=path&order=asc&honorSelectedPaths=0&issueId=32170671#inspectioncomment-111552648

[2018-09-21 10:13] joshangell opened #33 "Invalid service param"
IssueId: 32170659  Message: ``'groupName'`` of type ``string`` is incompatible with the type ``boolean`` expected by parameter ``$groupBy`` of ``angellco\spoon\services\BlockTypes::getByContext()``.

Filename: src/controllers/ConfiguratorController.php
LineNumber: 66

Link: https://scrutinizer-ci.com/g/angell-co/Spoon/issues/master/files/src/controllers/ConfiguratorController.php?&issueId=32170659

[2018-09-21 10:44] #32 closed

[2018-09-21 10:44] #33 closed

[2018-09-21 10:44] #31 closed

[2018-09-21 10:45] joshangell commented on #28
OK this is actually released now with a bunch of other stuff, so just update instead :)

[2018-09-21 12:25] #28 closed, assigned to joshangell

[2018-10-12 10:16] joshangell commented on #21
Done in 2a6ad32c07320431e3f65b9d5249c1d3b207d4d7

[2018-10-12 13:29] joshangell commented on #9
Needs `this.trigger('beforeTypeChange');` adding `Craft.EntryTypeSwitcher` at line ~ 23 and the following in `Craft.MatrixInput`:

[code]

[2018-10-12 14:01] joshangell commented on #9
Similar changes would need to be made in SuperTable.

[2018-10-12 15:01] #21 closed

[2018-10-12 15:01] #27 closed

[2018-10-12 15:04] joshangell commented on #27
Looks like this

![](https://joshangell.s3.amazonaws.com/share/1._joshJoshs-MacBook-Pro_Developmentcms_zsh_2018-10-12_16-03-38.png)

[2018-10-12 15:15] chasegiunta commented on #27
Looks great man!

[2018-10-13 05:58] joshangell opened #35 "Don't track node_modules!"

[2018-10-31 09:34] jamielaughton opened #36 "Integration with Solspace Calendar"
I have a 'Content Builder' Matrix field in which I'm using Spoon to build all content around my site.

My events are using Solspace Calendar, within the calendar you can design your field layout the same as in crafts sections.

There is no option to 'Group block types' when I click the cog on the Matrix field. Is there something I am missing to get Spoon to work within the calendar or do you not s

[2018-10-31 09:46] jamielaughton commented on #36
Bit of extra info on this.

With the spoon plugin enabled I can't access all of the fields within the matrix block in Calendar, it just displays the first one. After I disable the plugin all the fields become visible again.

[2018-11-01 13:14] joshangell commented on #36
Hi Jamie,

Thanks for this - right now Spoon doesn't support Solspace Calendar but it
shouldn't be too hard to sort.

I will have a look next week for you when I'm back at work.

Thanks!

Josh

On Wed, 31 Oct 2018, 09:46 Jamie Laughton <notifications@github.com wrote:

[2018-11-15 15:07] joshangell commented on #36
Just a quick update @jamielaughton - unfortunately I’ve been a bit snowed under, it’ll likely be after I get back from holiday in a week or so now that I get chance to look at this.

[2018-11-15 15:08] joshangell commented on #9
Craft is ready: https://github.com/craftcms/cms/pull/3375

[2018-12-01 02:31] aaronbushnell opened #37 "Allow different configurations depending on multisite"
Great work on this plugin!

I'd love if there was some way to customize a module group per sites if multisite is enabled.

For instance, if I have two sites:
- Corporate
- Products

My "Featured Products" module isn't applicable to the "Corporate" site, but is for the "Products" one.

[2018-12-06 12:20] joshangell commented on #37
Hi @aaronbushnell - thank you for this, I agree it would be a great addition. I will add it to the roadmap!

[2018-12-08 01:01] aaronbushnell commented on #37
You bet, @joshangell! Thanks for your awesome work on this 😊

[2018-12-10 01:51] bossanova808 opened #38 "Issue with latest update"
Just did a composer update and this resulted in an error related to Spoon when then trying to load the control panel:
[code]

[2018-12-10 11:30] joshangell commented on #38
Thanks Jeremy - I will have a look into it today for you.

[2018-12-11 00:38] bossanova808 commented on #38
Thanks Josh - no super hurry on my account...jsut thought you might want to know in case more important folks hit it :)

[2018-12-11 11:39] joshangell commented on #38
OK I’ve started to dig into this but can’t actually reproduce it ... I think if you disable / uninstall Spoon it may help to see if you still get the errors?

As far as I can tell from the stack trace Craft is trying to load a field layout on a block that has the field handle `searchable` in it, but that field no longer exists.

[2018-12-13 14:43] joshangell commented on #38
Hey Jeremy - thanks for the update and no worries - hope you get it sorted!

[2018-12-17 19:45] richhayler opened #39 "Broken Tabs"
It appears intermittent but in my experience Spoon's tabbed interface repeatedly breaks and reverts to the default view (all fields within a matrix displayed within a single pane). This seems to be happening more often after the initial entry save and then returning to the entry to edit the matrix data.

I am using a CodeMirror, ColorIt and Asset field within my matrix and have a tab for each.

Cr

[2018-12-18 16:01] joshangell commented on #39
Hi Rich, I’ll try and have a look into for you this week - are you getting any errors in the console do you know?

[2018-12-30 15:02] andersonlyle opened #40 "Can't install on Beta 5 of Craft 3.1"
Spoon will install, but won't activate in Beta 5 of 3.1.

[2018-12-30 15:13] joshangell commented on #40
Thanks for this - will look into it when I'm back at my desk in a week or so.

[2019-01-03 09:39] davidhellmann opened #41 "Folded Blocks Problem"
News Version (Craft / Spoon)
When I fold some blocks there is a problem with the block below the folded one. When I save the entry all its fine

![image](https://user-images.githubusercontent.com/764292/50631199-c4c54980-0f43-11e9-9daa-54e7c009ff1f.png)

[2019-01-03 12:02] joshangell commented on #41
Thanks for this David, I'll have a look for you next week when I'm back at work :)

When you save and Entry the content should always be OK because Spoon is just a layer on top of Matrix, it doesn't modify the content at all.

[2019-01-03 12:20] davidhellmann commented on #41
Sounds good. Yeah, looks like an JS issue.

[2019-01-08 01:23] dustinwalker opened #42 "Disabled block tabs minor style issue"
If the block is disabled, the absolute positioned status overlaps with tabs.
<img width="195" alt="screenshot_312" src="https://user-images.githubusercontent.com/360177/50803977-aea3ea00-12b1-11e9-932a-9983b82c4b09.png">

[2019-01-10 12:54] joshangell commented on #40
Hey @andersonlyle thanks for this - could you install from the `feature/3.1-beta` branch and see if that sorts it for you?

[2019-01-10 12:55] joshangell commented on #41
Hi @davidhellmann - I can’t seem to reproduce this ... is it limited to the "Shop Teaser" block seen in your screen shot?

[2019-01-10 13:21] joshangell commented on #39
Hey Rich, I’m not able to reproduce this at the moment, but I am working on a full refactoring of the JS and how I attach to Matrix fields. I’ll close this for now, follow #9 for updates on the refactoring and then if its still a problem when that stuff is live we can revisit it.

[2019-01-10 13:21] #39 closed

[2019-01-10 15:34] joshangell commented on #40
Try this: `composer require angellco/spoon:dev-feature/3.1-beta`

[2019-01-10 15:36] andersonlyle commented on #40
Thanks Josh - that worked fine.  Still having the same problem as before -
it shows as Not installed in the plugin settings.  I can’t activate it from
there.

Regards,
Lyle

Lyle Anderson
Partner
Get Reel Productions, LLC Tel: 646-240-9300
Email: lyle@lcanderson.com
Website:http://www.getreelproductions.org
Address: 400 King Street, Chappaqua, NY 10514
<http://facebook.com/getreelproductionsllc/>

[2019-01-10 15:42] joshangell commented on #40
Hmm OK - will keep digging!

[2019-01-10 15:52] joshangell commented on #40
More fixes in:
114a346e1c59f6fd98a5336c4ce89202793186d8
a922c3664acebda9d4b23f29c9351acea406d8cd

[2019-01-10 15:53] joshangell commented on #40
@andersonlyle Right - I could reproduce this now - please could you have another go? Thanks!

[2019-01-10 16:07] andersonlyle commented on #40
This version installed - not let me try it.

Regards,
Lyle

Lyle Anderson
Partner
Get Reel Productions, LLC Tel: 646-240-9300
Email: lyle@lcanderson.com
Website:http://www.getreelproductions.org
Address: 400 King Street, Chappaqua, NY 10514
<http://facebook.com/getreelproductionsllc/> <http://twitter.com/GetReelNY>
<http://vimeo.com/getreel>

On January 10, 2019 at 10:53:09 AM, Josh Angell (notifi

[2019-01-10 16:11] andersonlyle commented on #40
It looks like it’s working.  Was able to group fields and use the groupings
on entries.  Yeah!

Regards,
Lyle

Lyle Anderson
Partner
Get Reel Productions, LLC Tel: 646-240-9300
Email: lyle@lcanderson.com
Website:http://www.getreelproductions.org
Address: 400 King Street, Chappaqua, NY 10514
<http://facebook.com/getreelproductionsllc/> <http://twitter.com/GetReelNY>
<http://vimeo.com/getreel>

On J

[2019-01-10 16:12] joshangell commented on #40
Excellent! Good stuff. Give me a shout if anything else breaks :)

[2019-01-10 16:12] #40 closed

[2019-01-11 09:55] davidhellmann commented on #41
It's not on every Panel. But I see no pattern for this.
It's a bit strange. Maybe an Craft Update makes problems or another plugin. Not sure at the moment.
But we've it in a other project too the problem

![image](https://user-images.githubusercontent.com/764292/51026695-675a7980-158f-11e9-814e-ffff6a36f32e.png)

[2019-01-14 22:47] brettburwell commented on #37
This would be a super nifty feature. I'm happy to see it's on the road map.

Do you have a rough ETA on when this _might_ make it into Production (weeks vs. months vs. who knows)?

[2019-01-15 10:51] joshangell commented on #37
Hey @brettburwell, I’m going to be realistic and plump for months right now ... but if its holding you or anyone back on a project then please do let me know and I’ll see if I can allocate enough time to implement it. Unfortunately its not a quick one!

[2019-01-15 16:00] brettburwell commented on #37
Thanks for the followup @joshangell.

It's not holding me back, but I appreciate you asking. I have a multisite project coming up, so I figured I'd check just out of curiosity.

It seems like it'd be a pretty beefy feature! Best of luck cracking that one out.

[2019-01-16 13:45] lukebailey opened #43 "Spoon error updating to Craft 3.1"
Hi

We have isolated the error shown below, upgrading from Craft 3.0.37 to 3.1.0, to be caused by the Spoon plugin:

![image](https://user-images.githubusercontent.com/3185073/51252690-63b26280-1994-11e9-9629-df2202ee3be4.png)

Is this something that could kindly be investigated?

Thanks

Luke

[2019-01-16 13:49] lukebailey commented on #43
As a workaround, we can disable Spoon > Apply Craft 3.1 update > Re-enable Spoon

[2019-01-16 14:54] #35 closed

[2019-01-16 14:54] #42 closed

[2019-01-16 14:54] joshangell commented on #43
Hey @lukebailey I think I’ve just fixed this ... give it an update and see :)

[2019-01-17 09:51] phoob commented on #43
Hello! I had the same issue.. Now I installed 3.2.5, deactivated the plugin, updated Craft to 3.1.1, and reactivated the plugin. Then I got this error..

[code]

[2019-01-17 10:19] joshangell commented on #43
Hi Peter, thanks for this.

I'm out of the office today but I should be able to push a fix for this
tomorrow.

On Thu, 17 Jan 2019, 09:51 Peter Holme Obrestad <notifications@github.com
wrote:

[2019-01-18 09:55] joshangell commented on #41
Hey @davidhellmann - I really can’t reproduce this error at the moment, do you have any more information that I could use to debug it? Even better would be if you can email a db backup and composer.json for your project to josh@angell.io

[2019-01-21 13:37] joshangell commented on #43
Hi @phoob you can give it another whirl now, just pushed a release that should fix this ...

[2019-01-21 13:37] #43 closed

[2019-01-21 22:32] ccchapman opened #44 "Issue with Super Table support, BlockTypes SuperTableService::getBlockTypeById()"
I am having troubles activating Spoon on a Craft CMS installation with [verbb/super-table](https://github.com/verbb/super-table).

Steps to reproduce:

1. Existing project has Craft CMS and Super Table (versions shown below)
2. `composer require angellco/spoon`
3. Load admin UI
4. Receive PHP notice shown below

[code]

Craft CMS Version:  3.1.2.2
Super Table Version: 2.1.4.2
PHP Version: 7.2.11

[2019-01-22 01:58] engram-design commented on #44
@ccchapman I've not dived into this specific issue, but [2.1.5](https://github.com/verbb/super-table/releases/tag/2.1.5), was just released to hopefully put any content table issues to rest. It's worth updating to that and running the new `/actions/super-table/plugin/check-content-tables` action endpoint to check Super Table content tables.

[2019-01-22 02:30] ccchapman commented on #44
@engram-design After updating to Super Table 2.1.5 and running the new action endpoint, I still receive the PHP notice.

[2019-01-22 09:53] joshangell commented on #44
Hi both, this is definitely a Spoon issue, I should be able to fix it today.

[2019-01-28 11:04] #44 closed

[2019-01-28 11:05] joshangell commented on #44
Better late than never ... sorry for the delay @ccchapman!

[2019-01-28 17:33] ccchapman commented on #44
@joshangell Confirming it works on my end! Thank you for the update.

[2019-01-28 19:16] joshangell commented on #44
Awesome!

On Mon, 28 Jan 2019, 17:33 Chris Chapman <notifications@github.com wrote:

[2019-01-30 15:17] nilsenpaul opened #45 "PHP notice after updating to Craft 3.1.6.1"
I get a PHP notice after upgrading to Craft 3.1.6.1, but don't really know where to start debugging. The problem originates when getting the blockTypes (see screenshot). Please tell me what information you need to get this solved :)

![schermafbeelding 2019-01-30 om 16 15 42](https://user-images.githubusercontent.com/6794819/51991046-8a9b8900-24aa-11e9-82be-f7e823db4775.png)

[2019-01-30 18:18] joshangell commented on #45
Aha thanks for catching that, I'll push a fix tomorrow sometime hopefully!

On Wed, 30 Jan 2019, 15:17 nils&paul <notifications@github.com wrote:

[2019-02-05 16:46] joshangell commented on #45
Hi @nilsenpaul could you give me a bit more background about your setup? If possible could you send your composer.json and a database backup to josh@angell.io to help me debug this.

[2019-02-07 12:42] jamielaughton commented on #36
Hi Josh,

I've been away from this project for a few months. After updating everything I'm still not seeing Spoon functionality in Calendar. Is this integration possible?

Cheers,
Jamie

[2019-02-09 08:06] joshangell commented on #36
Hi Jamie,

I've been caught up in a few other things but I'll try and get to it soon
for you.

Josh

On Thu, 7 Feb 2019, 12:42 Jamie Laughton <notifications@github.com wrote:

[2019-02-11 21:17] phoob commented on #43
Hi @joshangell ! I still had this problem. Made it vanish by refreshing field cache before using fields->getFieldsById(...). See pull request!

[2019-02-11 22:35] phoob commented on #45
Maybe related to this? https://github.com/angell-co/Spoon/pull/46

[2019-02-14 15:55] joshangell commented on #43
@phoob ah brilliant, thank you!

[2019-02-14 16:07] joshangell commented on #41
Ok this is probably solved by the latest release (3.3.0) which involves a refactor of how the JavaScript is attached to the Matrix field. Do let me know if you keep seeing this issue.

[2019-02-14 16:07] #41 closed

[2019-02-14 16:07] joshangell commented on #45
Merged #46 in and hoping it fixes this too.

[2019-02-14 16:07] #45 closed

[2019-02-14 16:08] #9 closed

[2019-02-15 19:16] kylecotter opened #47 "Basic Neo Support"
Hi!

From an author experience standpoint, it makes sense for us to have a matrix field within a [Neo](https://github.com/spicywebau/craft-neo) field.

It doesn't appear Spoon works when nested like that. Is that a possibility? Similar to how Super Table support works?

Thanks!

[2019-02-18 02:31] michaelroper commented on #24
Hey Josh! Any idea when this might land? Would be super-helpful to have Spoon config changes synced by project config...

[2019-02-19 19:43] chasegiunta opened #48 "Viewing previous versions shows blank matrix blocks"
Current versions work as normal, but viewing previous versions...

![image](https://user-images.githubusercontent.com/1377169/53042495-05254c00-344c-11e9-8ba3-35f88ad55e87.png)
![image](https://user-images.githubusercontent.com/1377169/53042534-179f8580-344c-11e9-8568-33ea27d0e780.png)

[2019-02-20 10:16] joshangell commented on #48
Oops, thats for spotting that - will have a look!

[2019-02-20 11:45] joshangell commented on #36
Hey @jamielaughton - so good news, the latest version of Spoon included a big JS refactoring which has made the Global block type configurations you have work anywhere, including in Calendar.

I’m working on adding specific calendar contexts now, which will mean you can have configurations that are specific to each calendar.

[2019-02-20 12:18] joshangell opened #49 "Commerce support"
Add specific context for product types

[2019-02-20 12:20] joshangell opened #50 "Convert the blocktype contexts to use UIDs"
In `Loader.php` we create our contexts based on the source ID, this needs to be changed to UID and all existing block types migrated.

Also need to find and refactor all other references to the ID part of our block type contexts.

This is in part prep for Project Config support see #24

[2019-02-20 12:21] joshangell commented on #36
OK, this commit adds this feature: 6a9a9d47bca8292050396910822db5ba116a7677

[2019-02-20 12:31] joshangell opened #51 "Add Spoon CP nav for greater visibility given we can now create blocktype configs from there"

[2019-02-20 15:25] jamielaughton commented on #36
Perfect, thanks mate. That's working great

[2019-02-20 18:04] chasegiunta commented on #48
@joshangell No problem. Client actually brought it up. Any idea if it's a simple fix or not? That way I can put them off with _"fix coming soon"_ or something that requires a bit more effort?

[2019-02-20 23:30] joshangell commented on #48
It should be a simple one, I’m doing some work on Spoon at the moment anyway so I’ll have a look tomorrow for you.

[2019-02-21 11:39] joshangell commented on #48
OK sorted, release coming later today or tomorrow!

[2019-02-21 14:16] #48 closed

[2019-02-21 14:16] #51 closed

[2019-02-21 14:16] #36 closed

[2019-02-21 14:33] chasegiunta commented on #48
We have different definitions of _”simple fix”_ ! That’s a hefty commit. Appreciate you hopping in this so quickly 🙂

[2019-02-21 14:59] joshangell commented on #48
Haha, well if you know the codebase it isn’t too bad ... 😉

[2019-02-21 19:14] kylecotter opened #52 "TypeError in 3.3.2"
Hi Josh!

Just updated to the latest version of Spoon and get

`Argument 1 passed to craft\services\Matrix::getBlockTypeById() must be of the type integer, null given, called in /var/www/vendor/angellco/spoon/src/controllers/BlockTypesController.php on line 88`

when navigating to the new CP side nav link.

Do I need to trigger a re-save on something? I believe that error is in reference to the ne

[2019-02-21 22:43] joshangell commented on #52
Thanks for this @kylecotter - given it worked for my setup could you send me a copy of your database and composer.json to josh@angell.io? I’ll be able to fully debug it then.

Cheers!

[2019-02-22 14:00] joshangell commented on #52
OK, I have done a sanity check anyway so that this error should go away, but you probably won’t be able to see all the Matrix > Super Table > Matrix fields you’re expecting. I’m not sure why but somehow its managed to load the Matrix and Super Table but not the nested Matrix field, perhaps try re-saving the fields?

[2019-02-22 14:02] #52 closed

[2019-02-22 17:49] kylecotter commented on #52
@joshangell Thanks! Update did the trick. Everything seems listed properly too. Re-saved everything for good measure.

[2019-02-25 22:10] chasegiunta commented on #48
@joshangell Was this fix a recent release?

[2019-02-25 23:08] joshangell commented on #48
Yes, sorry not sure why I missed if off the changelog ... should be in the
latest version!

On Mon, 25 Feb 2019 at 22:10, Chase Giunta <notifications@github.com> wrote:

--
-Josh
angell.io - specialist Craft CMS development and consultancy

[2019-02-27 04:48] chasegiunta commented on #48
@joshangell I don't think this was resolved.
![image](https://user-images.githubusercontent.com/1377169/53466611-5c14bd80-3a18-11e9-805d-df2192b918f0.png)

[2019-02-27 04:50] chasegiunta commented on #48
Actually, it's not *that* bad. Clearing the cache cleared most of it up, but the headers are missing
![image](https://user-images.githubusercontent.com/1377169/53466741-d9403280-3a18-11e9-8db2-010d1b8ca34e.png)

[2019-02-27 09:29] joshangell commented on #48
Yeah, if you disable Spoon and look at a version you’ll see the headers are
missing there too ... I’ll see if I can add them back in.

Probably should fix that right margin too ... ha

On Wed, 27 Feb 2019 at 04:50, Chase Giunta <notifications@github.com> wrote:

--
-Josh
angell.io - specialist Craft CMS development and consultancy

[2019-03-06 10:14] davidhellmann opened #53 "Craft URL Field Error when no valid URL"
When you have a normal Craft CMS URL Field and you type in a not valid url and save the entry the following error will be shown in the console and the UI is broken.

[code]

https://media.discordapp.net/attachments/456442884258922529/552793783599890453/unknown.png?width=1369&height=407

https://media.discordapp.net/attachments/456442884258922529/552793850419347456/unknown.png?width=1369&height=658

[2019-03-06 10:17] joshangell commented on #53
Hmm, OK I really can’t reproduce this - I just checked. Please could you send me your composer.json and a DB backup to josh@angell.io and I’ll get it sorted for you asap :)

[2019-03-06 10:20] joshangell commented on #53
Also, try clearing caches and force reloading, see if that solves it.

[2019-03-06 10:30] davidhellmann commented on #53
Caches cleared hard reload but problem is existing. DB is a bit to big.

But here is the composer.json
[code]

[2019-03-06 11:25] joshangell commented on #53
OK, I really can’t reproduce this without a DB. Please do send one.

[2019-03-06 15:38] joshangell commented on #53
Fixed in 94082aef3a1ed3812f904693b40100665a2c5bc0

[2019-03-06 15:38] #53 closed

[2019-03-18 01:45] dennisfrank commented on #17
I have the same problem. When a matrix block is collapsed, there are often layout issues with the following block.

This fixed it for me:

[code]

[2019-03-18 09:35] joshangell commented on #17
@dennisfrank interesting, could you please humour me and send a db backup and composer.json over to josh@angell.io? I really want to reproduce this one so I can debug it!

[2019-04-01 16:07] brettburwell opened #54 "Configuration works on new entries, but not on existing entries"
We're seeing an issue where our Spoon configuration works properly on new entries, but isn't being applied when viewing existing entries.

While trying to debug the issue I noticed something unexpected happen that might provide a clue about what's going on.

As a test, I uninstalled and reinstalled Spoon and tried rebuilding the configuration from scratch (to see if that might resolve the issue).

[2019-04-02 01:31] bossanova808 opened #55 "Upgrades from Craft 2 not working - all settings lost."
https://github.com/angell-co/Spoon/blob/3b7d9c0f8ee265ca77780ee9584d4a86b64292a9/src/migrations/Install.php#L246

Hey - so not everyone going to 3.1 is going to be on 3 first.

In particular, Commerce users are forced to go to Craft 3.1 if they want Commerce 2 - but of course they will be coming, by definition, from Craft 2 / Commerce V1.

Thus, can I ask that you do a migration that can cope with

[2019-04-02 08:09] joshangell commented on #55
Aha, good shout! I’ll have a look for you as soon as I can :)

On Tue, 2 Apr 2019 at 02:31, Jeremy Daalder <notifications@github.com>
wrote:

--
-Josh
angell.io - specialist Craft CMS development and consultancy

[2019-04-03 12:23] nilsenpaul opened #56 "Duplicate fields on field settings page"
After upgrading Craft, all fields on the field settings page are shown twice. After a bit of debugging, I narrowed it down to the Spoon plugin. When deactivated, it doesn't happen.

![Schermafbeelding 2019-04-03 om 14 19 03](https://user-images.githubusercontent.com/6794819/55478409-f79edc80-561b-11e9-95b2-fcebad7582e3.png)

What do you need from me to help you solve this issue?

[2019-04-03 12:33] joshangell commented on #56
Interesting ... is this just an upgrade to the latest version of Craft?

[2019-04-03 12:36] joshangell commented on #54
Aha, interesting, I suspect this is to do with that `Manage blocks on a per-site basis` setting, I will investigate! In case it helps, could you send me a db and composer.json to josh@angell.io, thanks!

[2019-04-03 12:58] nilsenpaul commented on #56
It's an update to the latest version of Craft (3.1.20.1) and I've updated some other plugins. Tried to rebuild project config, as that's the answer to a lot of issues, but to no avail :)

[2019-04-04 17:36] brettburwell commented on #54
Thanks for the quick response @joshangell. I just shot an email over way. Let me know if there's any additional info that'd be helpful to pass along.

[2019-04-05 13:37] joshangell commented on #54
OK, a note on the exact reproduction of this:
- Must be multi site
- Must have `Manage blocks on a per-site basis` set to on
- New entries work fine across sites
- Existing entries lose configuration on anything other than the primary site

Almost certainly to do with the URL matching for loading configs.

[2019-04-05 14:11] joshangell commented on #56
Could you send me a current DB backup and `composer.json` file to josh@angell.io please? I’m struggling to reproduce this locally. Thanks!

[2019-04-05 14:15] joshangell commented on #55
Ho hum. Is it possible for you to send me a DB backup and zip of the project (redact all security config info if you can) to josh@angell.io? I want to make sure I can migrate your exact setup. Its not quite as simple as I thought ...

[2019-04-05 14:16] #54 closed

[2019-04-05 14:17] joshangell commented on #54
@brettburwell done! Give it a whirl :)

[2019-04-05 14:19] brettburwell commented on #54
You're a champ. Thanks for so quickly digging into that one. We'll give it a look today!

[2019-04-05 14:54] joshangell commented on #54
No worries!

[2019-04-05 23:22] bossanova808 commented on #55
Hey Josh

Big DB & project, with a lot of customer info in it etc - do you just need the PMM table, or really the whole thing?

(Just a general note - not sure how you're doing it but the most succesful migrations i have seen are the ones that just go into the DB pretty directly and avoid the project stuff...I know e.g. linkit struggled for ages to do it the 'recommended' way but some quick DB cod

[2019-04-06 07:23] joshangell commented on #55
Aha yes, I remember the site now!

OK then, send me the PMM table and the plugins table, that should be enough
for me to work with internally.

And yeah, direct SQL is often simpler ... 😂

On Sat, 6 Apr 2019 at 00:22, Jeremy Daalder <notifications@github.com>
wrote:

--
-Josh
angell.io - specialist Craft CMS development and consultancy

[2019-04-06 22:56] bossanova808 commented on #55
Thanks – will send those over via Discord…

From: Josh Angell <notifications@github.com>
Sent: Saturday, 6 April 2019 6:23 PM
To: angell-co/Spoon <Spoon@noreply.github.com>
Cc: Jeremy Daalder <jd@imagescience.com.au>; Author <author@noreply.github.com>
Subject: Re: [angell-co/Spoon] Upgrades from Craft 2 not working - all settings lost. (#55)

Aha yes, I remember the site now!

OK then, send me th

[2019-04-08 10:27] javangriff commented on #24
Hi @joshangell, any update on when project config support might be implemented? It would be super handy.

[2019-04-08 10:43] dennisfrank commented on #24
It really would be super awesome! Spoon is the only plugin I need to update on the live server after every config change.

[2019-04-08 10:49] joshangell commented on #24
Argh I’m sorry everyone - I will get to it I promise, currently really under the gun with a non-sleeping child so most weeks just doing the bare minimum to keep things afloat. Its been a long time I appreciate, but I will get there - please do bear with me :)

[2019-04-08 15:37] brettburwell commented on #54
Howdy @joshangell. Just wanted to confirm that the fix looks good on this end. Thanks again!

[2019-04-08 16:35] joshangell commented on #54
Brilliant! Thanks for letting me know :)

On Mon, 8 Apr 2019 at 16:37, Brett Burwell <notifications@github.com> wrote:

--
-Josh
angell.io - specialist Craft CMS development and consultancy

[2019-04-08 21:49] stevehurst opened #57 "Can't Remove Field Layout"
I'm getting an error when removing field layouts.

I am able to create new layouts, and re-arrange the fields in tabs, but I am trying to remove a couple of field layouts and I get the above error when I remove fields or tabs.

[2019-04-18 13:00] umkasanki opened #58 "CSS errors in latest firefox"
![2019-04-18_15-51-07](https://user-images.githubusercontent.com/496132/56362564-db419900-61f2-11e9-8712-faf516b3e603.png)

[2019-04-18 13:14] umkasanki opened #59 "Sometimes the layout editing function does not work."
Screen video recording:  https://drive.google.com/file/d/1HSR64bJlLD2aNND7f1yyY5IvJr-6csnF/view?usp=sharing
log: [web.zip](https://github.com/angell-co/Spoon/files/3094517/web.zip)

Spoon | 3.3.6
PHP version | 7.2.10
WINNT 6.1
MySQL 5.7.24
Craft Solo 3.1.23

[2019-04-24 00:41] bossanova808 commented on #55
Just a thought...while you are in there looking at this, one little thing - I'd personally prefer to see the Spoon setup stuff moved into the utilities area - to me that left column is for stuff like entries and to give access to things that will change a lot/regularly.  Spoon is kinda a static thing, for the most part, once set up.

Just a thought - might be worth asking in Discord what people th

[2019-04-25 11:47] joshangell commented on #57
Hey @stevehurst, sorry for the delay and thanks for this - I’ve tracked it down, will look to sort a fix soon.

[2019-04-25 11:59] joshangell commented on #56
Hi @nilsenpaul - any chance you could send that DB backup and `composer.json` over?

[2019-04-25 12:02] joshangell commented on #59
Hi @umkasanki, I think this is actually the same root cause as #57 which I’ve just pushed a fix to develop for. Give it a whirl.

[2019-04-25 12:06] joshangell commented on #55
To conclude this - we’ve worked out you can just rename the old `craft_pimpmymatrix_blocktypes` table to `craft_spoon_blocktypes` (remove it if it already exists) and everything *should* work!

[2019-04-25 12:06] #55 closed

[2019-04-25 12:09] #59 closed

[2019-04-26 01:36] bossanova808 commented on #55
Just to confirm - did a test run this morning with a super simple migration:

[code]

...and that has worked fine (for my relatively simple case at least!).

[2019-04-26 09:02] joshangell opened #60 "Move Spoon setup stuff into the utilities area"
Idea from @bossanova808:

![](https://user-images.githubusercontent.com/731309/56624724-6bf9f800-667d-11e9-987f-20bc8c677e80.png)

[2019-04-26 09:03] joshangell commented on #55
Brilliant, thanks for confirming that @bossanova808!

FYI I’ve opened a new issue for the utilities thing, I’ll think about it and probably ask around :) Follow #60 for updates.

[2019-04-29 14:01] engram-design commented on #60
Definitely a +1 from me

[2019-04-30 02:23] bossanova808 commented on #60
(I _actually_ think plugins should just, generally, leave their settings in the normal plugin area -> settings spot..rather even than the utilities area...unless they are something to support content editing/entry like SEOmatic, or a real management console or utility type thing).

[2019-04-30 08:33] joshangell commented on #60
I think the reason I originally moved it was because it no longer actually saved to the settings row in the plugins table, which is now not applicable anyway. I think I’ll aim to get it back to being only linked to from the settings page first of all, failing that utilities it is.

The other issue is that at some point I will probably need sub pages, so then utilities may not work that well.

[2019-04-30 08:34] joshangell commented on #60
But I concur that currently the main nav is a bit overkill given there is no content management happening!

[2019-04-30 08:37] nilsenpaul commented on #56
Sorry Josh, I started dumping the DB when you asked me, and then realised it's full of Commerce customer details that I can't share without getting into trouble. Then I tried to think of a way to solve this without going through too much trouble, got caught up in daily life, and forgot about it :).

I'll try and duplicate the DB with certain tables truncated, will send it to you.

[2019-05-01 15:02] billymedia opened #61 "Upgrading to craft 3 - runtime error"
Upgraded from craft 2 to craft 3.1.24 and installed spoon (v 3.3.7).

When I visit the plugin in the cp (admin/spoon), i get this error:

Key "superTableBlockType:37" for array with keys "superTableBlockType:c5436230-795c-4d8f-a330-4e5ef3c26ed4, superTableBlockType:9855c8c5-0bef-468c-b2b4-658518086b3c, superTableBlockType:5e290694-4a1b-4dc5-8704-fdeff8804e3c, superTableBlockType:55ce8f50-19d2-4422

[2019-05-01 18:33] joshangell commented on #61
Hey Billy,

It looks like you also have SuperTable installed, in which case disable
Spoon temporarily and upgrade SuperTable first.

Let me know if that works for you!

On Wed, 1 May 2019 at 16:02, Billy <notifications@github.com> wrote:

--
-Josh
angell.io - specialist Craft CMS development and consultancy

[2019-05-06 14:18] billymedia commented on #61
@joshangell Ok i managed to fix the many ST issues, and then enabled Spoon, the errors still exist.

[2019-05-07 07:13] marionnewlevant commented on #6
+1 for fixing this. I am in the 'lots of tabs' group.
Probably my temporary work-around is going to be to use cpcss to increase the padding on `.spoon-fields`.

[2019-05-09 15:26] joshangell commented on #61
Aha, I think this is an issue with ST not migrating its fields nested inside Matrix blocks properly. If you re-save the Matrix fields that have ST fields on them you might update their context references in the `fields` table.

[2019-05-09 16:08] billymedia commented on #61
I actually thought it might be that so resaved all ST and matrix fields without luck.

Sent from my phone.
On 9 May 2019, 16:26 +0100, Josh Angell <notifications@github.com>, wrote:

[2019-05-09 18:42] joshangell commented on #61
Hmm OK. I’m not sure quite what I can do though if ST isn’t saving it’s
fields with the correct context value though ... do you have project config
enabled or not?

On Thu, 9 May 2019 at 17:08, Billy <notifications@github.com> wrote:

--
-Josh
angell.io - specialist Craft CMS development and consultancy

[2019-05-11 17:45] pseudoclass commented on #56
Hi @joshangell - I seem to be having the same problem. I'll send over a DB dump and the composer.json file here in a bit

[2019-05-13 15:27] joshangell commented on #58
I can confirm that I can reproduce this, will look into it!

[2019-05-17 16:19] jmcgaha opened #62 "Feature Request: Work with Campaign"
I recently set up the plugin Campaign and when setting up a new campaign type I was unable to do the "Group block types" thing to customize what blocks would show. It would be great if this feature was available.

I'm not sure if this is really a Spoon request or a Campaign request, so I'm going to post this on both repos.

https://github.com/putyourlightson/craft-campaign/

[2019-05-17 19:25] joshangell commented on #62
Definitely a spoon request! I’ll add it to the list.

On Fri, 17 May 2019 at 17:19, Jonathan McGaha <notifications@github.com>
wrote:

--
-Josh
angell.io - specialist Craft CMS development and consultancy

[2019-05-18 07:21] putyourlightson commented on #62
Let me know if there's anything I can do to help @joshangell.

[2019-05-21 13:27] vSanjo commented on #24
Appreciate the work, @joshangell.

Can't wait to see this land.

[2019-06-10 22:36] bliswebagency opened #63 "Conditions"
Any plans to provide the functionality to fields to appear conditionally?

[2019-07-10 15:54] blackstalk opened #64 "Issue with Super Table support, on Craft 3.1.34"
I just updated to Craft 3.1.34 and am now getting this error:

Argument 1 passed to verbb\supertable\services\SuperTableService::getBlockTypeById() must be of the type integer, null given, called in .../vendor/angellco/spoon/src/services/BlockTypes.php on line 440

Currently on Spoon 3.3.7

[2019-07-12 14:02] lukebailey opened #65 "Implement BlockElementInterface for Craft 3.2"
**Description**

As detailed in https://github.com/craftcms/cms/issues/4507 we are seeing an exponentially growing list of jobs to update search indexes when upgraded to Craft 3.2. @brandonkelly suggests this is because plugins need to implement the BlockElementInterface:

**Steps to reproduce**

- Upgrade to Craft 3.2
- Run migrations and project sync
- Watch queue grow exponentially

[2019-07-12 14:03] lukebailey commented on #65
As he mentions Neo I assume that Spoon might need similar attention?

[2019-07-12 18:18] brandonkelly commented on #65
I don’t think Spoon implements its own block element type; just enhances Matrix. If that’s true then Spoon doesn’t need to worry about this.

[2019-07-12 18:21] #65 closed

[2019-07-16 11:08] joshangell commented on #65
This is definitely true, but thanks for thinking about it @lukebailey!

[2019-08-13 00:14] engram-design commented on #24
@joshangell Just going to be annoying and upvote this too 😄 let me know if we need to chat about it and can look at a PR if you're flat-out?

[2019-08-15 09:42] #61 closed

[2019-08-15 09:44] joshangell commented on #24
@engram-design Haha no worries - I’m finally getting around to other work at long last, its been a while! Thanks for the offer of help, I’ll let you know in a few days if I think I’ll need a hand, just getting my head back into it right now.

[2019-08-15 09:59] engram-design commented on #24
@joshangell No problem, just was keen to see where you were at with it - no point in starting something if you're already (or about to) dive in

[2019-09-10 13:38] ryanmasuga commented on #58
Just had a client bring this up, and my first thought was this had to be due to a plugin - looks like I found the issue here. When we collapse blocks, there is a ton a space left where the block below it was rendered. Doesn't matter if I double click to collapse a matrix block or use the flyout menu to collapse it.

Craft 3.1.19
Spoon 3.3.5
Chrome

[2019-09-10 21:01] joshangell commented on #58
Interesting, I genuinely can’t reproduce this and have tried a couple of
times.

You on the latest Chrome Ryan?

On Tue, 10 Sep 2019 at 14:38, Ryan Masuga <notifications@github.com> wrote:

--
-Josh
angell.io - specialist Craft CMS development and consultancy

[2019-09-10 21:17] ryanmasuga commented on #58
Just updated to Chrome 77.0.3865.75 and this is still happening for us. Admittedly, we do need to update to the latest version of Spoon, but I didn't see anything in the changelog that mentioned this issue. We're not using Neo or anything either. These are native Matrix blocks with native fields in them. Perhaps we need to bump Craft a few versions too, in the event there are any older CP styles t

[2019-09-11 06:50] joshangell commented on #58
OK cool, no worries - I haven’t done anything that would fix it so I wouldn’t worry about updating it too much.

I’ll try and get to it when I’m back from holiday next week for Dot All.

For a long list of reasons I’ve been honestly struggling to fit in plugin dev work this past year, that has started to change now thankfully and I’ve been slowly starting to ease back into it (see here
https://git

[2019-09-11 13:48] ryanmasuga commented on #58
Believe me, we have one commercial plugin and we know how it is trying to find time to fix bugs or make improvements. We'll make some updates to CMS/plugins and report back. If we can't seem to fix it, the client might be OK taking the blue pill to uninstall.

[2019-10-27 00:22] engram-design opened #66 "Unable to view Matrix fields when previewing revision"
It seems Spoon need to not be so aggressive with hiding fields inside a Matrix field when previewing a revision. See the below screenshot and CSS rule that's causing this.

https://d.pr/free/i/pI1OQ9

[code]

[2019-10-27 00:30] engram-design opened #67 "Causing issues with expanded/collapsed state"
Refer to https://d.pr/i/Kzhc0a where there are some layout issues with the expanded/collapsed states using Spoon.

The actual issue seems tricky to pin-point, and is often show on next/previous blocks when toggling this state. Resizing the window makes the layout issue go away, which makes me think its a JS reflow issue, or something similar.

[2019-10-27 07:14] joshangell commented on #66
Huh, I had to add that for a much older version of Craft - I’m guessing
something to do with the new revisions stuff is causing it.

Will sort it out on Monday. Thanks man!

On Sun, 27 Oct 2019 at 01:22, Josh Crawford <notifications@github.com>
wrote:

--
-Josh
angell.io - specialist Craft CMS development and consultancy

[2019-10-27 07:28] engram-design commented on #66
Cool, just on Craft 3.3.9 FYI

[2019-10-27 07:47] joshangell commented on #66
👍

On Sun, 27 Oct 2019 at 07:28, Josh Crawford <notifications@github.com>
wrote:

--
-Josh
angell.io - specialist Craft CMS development and consultancy

[2019-11-19 21:49] dennisfrank commented on #24
Any news on this one?

[2019-11-20 16:45] joshangell commented on #24
@dennisfrank thanks for the prod ... I’ve been swamped but put aside a few things to focus on getting this done, it’s been bugging me for long enough now 😂

[2019-11-22 00:22] Kashkin commented on #66
We're still experiencing this issue on the latest version of Craft CMS and Spoon.

Any update on a timeframe for a fix? We have a client chasing us.

[2019-11-22 08:02] joshangell commented on #66
I’m just finishing off #24 then I’ll get on to this one, sorry for the
delay!

On Fri, 22 Nov 2019 at 00:22, Kashkin <notifications@github.com> wrote:

--
-Josh
angell.io - specialist Craft CMS development and consultancy

[2019-11-22 15:11] joshangell commented on #67
Hmmm OK - I’ve had a look at this one, but can’t reproduce it as yet. What browser are you testing in?

Also roughly how many block-types and blocks do you have on the page?

[2019-11-22 15:50] #50 closed

[2019-11-22 15:50] #60 closed

[2019-11-22 15:50] #66 closed

[2019-11-22 15:50] joshangell commented on #24
Right - this should be done now, please do let me know if anything breaks! And thanks for your patience ...

[2019-11-22 15:50] #24 closed

[2019-11-22 16:16] dennisfrank commented on #24
@joshangell Thank you so much! I'll test it next week!

[2019-11-25 17:36] jsunsawyer commented on #12
Yep. This was confusing as I thought I was missing an option. Installed Spoon simply for this feature.

[2019-11-25 17:56] jsunsawyer commented on #67
Also experiencing this, but my issue isn't fixed from a window resize.

For my specific setup, it seems that only tabs that have a single entry field causes strange collapsing. Also, whenever a block uses tabbed content for its fields, and the next block doesn't, the blocks don't collapse correctly.

![Screen Shot 2019-11-25 at 9 45 24 AM](https://user-images.githubusercontent.com/1007191/69564711

[2019-11-26 09:34] G17creative opened #72 "Error when running on a PHP version that is less than 7.1.0"
Error: Could not delete /var/www/clients/client1/web393/web/vendor/angellco/spoon/composer.json: unlink(/var/www/clients/client1/web393/web/vendor/angellco/spoon/composer.json): Permission denied

Composer output: Package "craftcms/vue-asset" listed for update is not installed. Ignoring.
Package "danielstjules/stringy" listed for update is not installed. Ignoring.
Loading composer repositories wit

[2019-11-26 09:56] G17creative commented on #72
After updating the vendor folder permissions and running the update again we're getting a new error:

Status: Internal Server Error

Response: <pre>Exception &#039;ParseError&#039; with message &#039;syntax error, unexpected &#039;?&#039;&#039;

in /var/www/clients/client1/web393/web/vendor/angellco/spoon/src/services/BlockTypes.php:70

Stack trace:
#0 /var/www/clients/client1/web393/web/vendor/co

[2019-11-26 11:19] joshangell commented on #72
Hi @G17creative - I’m guessing you’re running a version of PHP lower than 7.1.0? Is that correct?

[2019-11-26 11:30] G17creative commented on #72
Hi @joshangell, thanks for getting back. That's correct, it's just 7.0.33

[2019-11-26 13:09] joshangell commented on #72
Aha OK then - you will need to be on at least PHP 7.1.0, see here for reasons why: https://www.php.net/manual/en/functions.returning-values.php#functions.returning-values.type-declaration

I will leave this open for now until I force that requirement in the README and with composer.

[2019-12-02 11:36] joshangell commented on #67
Ah thanks for this @jsunsawyer, very helpful. Hopefully I’ll be able to reproduce this now!

[2019-12-02 11:37] #25 closed

[2019-12-03 09:41] rmdiaconu opened #73 "Issue with Solspace Calendar on Craft 3.3.16.3"
After updating to Craft 3.3.16.3 editing Events or adding new ones with Solspace Calendar is not possible anymore due to the following error:

[Screenshot](https://www.dropbox.com/s/hujgdrtwuipvv81/Screenshot%202019-12-02%2011.55.35.png?dl=0)

However, after disabling Spoon, Solspace Calendar works just fine.

**Application Info**

PHP version - 7.2.21
OS version - Darwin 19.0.0
Database driver &

[2019-12-04 09:41] joshangell commented on #73
Thanks for this @rmdiaconu, I’ll have a look see whats going on today.

[2019-12-04 10:34] joshangell commented on #67
Boom! I can finally reproduce it after all this time 😂

![image](https://user-images.githubusercontent.com/404219/70135276-a864ec00-1681-11ea-85eb-5f6bec9481dd.png)

[2019-12-04 10:49] joshangell commented on #58
@ryanmasuga and @umkasanki this latest commit will likely fix both of your issues, will be released shortly.

[2019-12-04 10:50] joshangell commented on #67
@jsunsawyer @engram-design OK chaps - this should do it, will be released shortly.

[2019-12-04 10:51] #72 closed

[2019-12-04 10:51] #73 closed

[2019-12-04 10:51] #58 closed

[2019-12-04 10:51] #67 closed

[2019-12-04 10:57] joshangell commented on #64
@blackstalk are you still seeing this issue at all? I can’t reproduce it myself so am closing for now, will reopen it if you are still seeing it - if so please do send me a db dump and `composer.json` file to josh@angell.io

[2019-12-04 10:57] #64 closed

[2019-12-04 10:59] joshangell commented on #20
This would also provide a workaround for #23

[2019-12-05 00:38] bossanova808 opened #74 "3.4.1 is showing up in Craft updates but not coming down via `composer update`"
https://github.com/angell-co/Spoon/blob/f5b9fb78223a7571291bf2827200485df409d340/src/Spoon.php#L69

Probably because this version number is still 3.4.0?

[2019-12-05 02:25] baronetto opened #75 "Unable to update to the latest version 3.4.1"
When I try to install via the CLI or the CP I get the following error:

[code]

[2019-12-05 22:11] joshangell commented on #75
Thanks @baronetto, closing as duplicate of #74

[2019-12-05 22:11] #75 closed

[2019-12-05 22:17] joshangell commented on #74
Hi Jeremy - this is because I made the unfortunate mistake of requiring PHP >= 7.1 for this release, purely because I’ve started using the new type-hints.

This is conflicting with the core Craft composer requirement of PHP >= 7.0.0 ... to get around it for now you can change the platform reference in your project’s `composer.json`:

[code]

Only do this if you want to carry on with the upgrade an

[2019-12-05 22:51] bossanova808 commented on #74
No problems Josh, I'll just wait I think.  Although I am using 7.2 on both dev and production, just in case of other implications I'd probably prefer not to mess with the core requirements...

[2019-12-06 14:19] lukebailey opened #76 "Spoon 3.4.1 migration failure"
When upgrading to Spoon 3.4.1 from 3.3.7 we are seeing the following error when deploying to environments with `allowAdminChanges` disabled

![image](https://user-images.githubusercontent.com/3185073/70329380-3207eb80-1833-11ea-9133-87ae559ae396.png)

[2019-12-09 08:52] lukebailey commented on #76
Turns out if you actually commit the project.yaml file thigns work as expected...

[2019-12-09 08:52] #76 closed

[2019-12-09 10:05] joshangell commented on #76
Phew! Thanks for letting me know :)

[2019-12-09 21:19] #74 closed

[2019-12-09 21:22] joshangell commented on #75
Hi @baronetto this has been fixed now in the latest release.

[2019-12-09 21:23] joshangell commented on #74
Hi Jeremy, this requirement has been removed now in the latest release. Thanks for your patience!

[2019-12-09 22:07] baronetto commented on #75
@joshangell Thank you for the update!

[2019-12-13 22:39] justinvandenberg opened #77 "Project config doesn't match DB"
I updated from `3.3.6` to `3.4.2` and `context` in the project config doesn't match `context` in the `craft_spoon_blocktypes` table. The project config is similar to `entrytype:151dbc70-ed67-44d1-926b-01d229f8b256` while the DB is more like `entrytype:5`. I've tried to manually sync and run migrations.

[2019-12-16 11:24] bymayo opened #78 "fieldManipulator error"
I've just updated to latest Craft version and Spoon plugin, and getting this error:

`Return value of angellco\spoon\services\Loader::fieldManipulator() must be an instance of
angellco\spoon\services\void, none returned`

Craft CMS: 3.3.18.2
Spoon: 3.4.2
PHP: 7.0.33

[2019-12-16 17:23] joshangell commented on #77
Hmm OK, can you see the following migration row in your `craft_migrations` table?

`m191122_115434_UpgradeToSupportProjectConfig`

If it is, then I would try removing that row and then running the migration from the cli like so:

`./craft migrate/up --plugin spoon`

Let me know how you get on!

[2019-12-16 17:28] #78 closed

[2019-12-16 17:28] joshangell commented on #78
Thanks Jason!

[2020-01-03 03:55] michaelroper opened #79 "Not working with 3.4.0-beta"
Hey Josh! Not sure if this happened on earlier betas too, but Spoon tab content in matrix blocks don't seem to be displaying in Craft 3.4.0-beta.5..

![image](https://user-images.githubusercontent.com/60287/71706425-b3956e00-2e1f-11ea-860f-709e15f6188c.png)

I can't see anything specific in the chrome dev console either.. Let me know if there is anything specific that I can test to help debug it..

[2020-01-11 07:56] lewisjenkins commented on #79
I’m also having the exact same issue. Craft 3.4 beta 5.

[2020-01-13 10:27] joshangell commented on #79
Hi chaps - thanks for this, I will get to it as soon as I can!

[2020-01-13 10:28] joshangell commented on #77
@justinvandenberg how did you get on?

[2020-01-13 16:29] elivz opened #80 "Blocks getting reassigned to the wrong groups"
I am seeing an issue, where I haven't been able to really track down exactly what is going on. But I am hoping maybe other people are seeing the same thing.

In my local dev environment, I have all the blocks in a "content builder" Matrix field assigned to several groups. Works great! However, just recently (I believe since the Spoon update that moved the group configuration into `project.yaml`),

[2020-01-13 22:46] justinvandenberg commented on #77
I was able to get it working. I rolled back to a previous version and matched the other environment in the CP.

[2020-01-14 14:13] jwktje commented on #63
Any updates on this?

[2020-01-14 16:46] msmith7904 commented on #79
Same here, also on Craft 3.4 beta 5.

[2020-01-14 21:31] bentilden commented on #80
I'm having the same problem, plus within a group, the order of blocks is randomly changed every time I deploy.

[2020-01-20 12:52] lukebailey commented on #79
We are seeing the same issue with Craft 3.4 RC 2

[2020-01-27 15:16] michelstomp opened #81 "Newly added matrix blocks not appearing in Spoon layout"
I have quite a large matrix field, with some 12 blocks. All blocks have been assigned to grouped layout in Spoon and field layouts for individual groups are made.

Now I've added a new block to the matrix field. The new block does not appear in Spoon. And as a result of this, the new block is also not available in the entry_type form.

Anyone have any ideas on this?

[2020-01-27 20:43] johndwells opened #82 "Craft's info table being updated on every page request"
Hi,

I've noticed that on every Craft request (front-end or back-end requests at least), there is an UPDATE being applied to the craft `info` table. The only value that is changing every time is the column `fieldVersion`. I've tracked this down to Spoon (disabled Spoon == no more updates).

I've tried to see if I could track down when/why this was happening, but it wasn't immediately obvious, sorr

[2020-01-29 07:31] klarplan commented on #79
Same here with Craft 3.4 final. Please fix. Thanks

[2020-01-29 16:28] jamielaughton commented on #79
Same issue along with the fields not being in the order set once the section is expanded

[2020-01-29 16:37] jamielaughton opened #83 "Craft 3.4 Fields not being separated across tabs"
After upgrading to craft 3.4 pretty much all spoon grouped fields are either different order or fields which i have split across tabs are all being shown in both tabs.

Example:
<img width="509" alt="Screenshot 2020-01-29 at 16 32 39" src="https://user-images.githubusercontent.com/13520010/73376575-8ff60400-42b5-11ea-820c-bace4319347f.png">
<img width="717" alt="Screenshot 2020-01-29 at 16 33 41"

[2020-01-29 16:43] jamielaughton commented on #80
I have the same issue, its driving me nuts as i have a huge content builder which I'm trying to maintain for several users and stuff keeps moving around. A fix for this would be great!

[2020-01-30 11:07] jamielaughton commented on #83
I think this is largely the same issues as #79 and #80 so i'll close

[2020-01-30 11:07] #83 closed

[2020-01-31 17:57] joshangell commented on #79
Hi all - thanks for your patience, I am working on it!

[2020-01-31 17:59] joshangell commented on #77
Thanks for the update - I’ll close this for now, hopefully it was a one off.

[2020-01-31 17:59] #77 closed

[2020-01-31 17:59] joshangell commented on #80
I’ll be working on this just as soon as I’ve ticked off #79

[2020-01-31 18:00] joshangell commented on #82
Hi John - thanks for this and all the details, I will aim to look at this next week sometime if possible. Thanks for your patience!

[2020-01-31 18:36] dennisfrank commented on #79
Hi Josh, could you estimate whether you can solve the problem relatively quickly? Or is this more likely to take a few more weeks? I'm asking because I'm currently planning to update a few websites and would otherwise delay that.

[2020-01-31 18:38] dennisfrank commented on #79
Do you think it would be possible to deactivate the plugin for the time being and simply reactivate it after the fix with all the previous settings?

[2020-01-31 20:29] johndwells commented on #82
👍

[2020-01-31 20:48] circa1977 opened #84 "Invalid field layout ID"
I just ran into Issue #79. So I removed the fields from the field layouts I had created and deleted the field layout tabs...and now my entire control panel is inaccessible.

![Screen Shot 2020-01-31 at 3 47 48 PM](https://user-images.githubusercontent.com/49657/73573325-1428c280-4441-11ea-86ee-bf25fa7b4572.png)

Craft 3.4.1.

[2020-01-31 20:56] circa1977 commented on #84
Fortunately I had a database backup from the last time I worked on the project and didn't lose anything. For a paid plugin that's only supposed to enable an organization layer, this is a pretty big concern. I was completely shut out of the control panel, and reviewing the database, that ID exists.

[2020-01-31 20:58] circa1977 commented on #84
As soon as I hit Install on the plugin again—which was uninstalled following the database backup restore, I get the error again.

If I can't rely on the plugin, I'd like to fully uninstall it, as there are still database tables intact from when it was installed.

Here's the full trace:

yii\base\InvalidConfigException: Invalid field layout ID: 30 in /Users/markreeves/Sites/idg/codiak/craft/vendor/

[2020-01-31 21:01] circa1977 commented on #84
I also encountered #57 when I was removing the field layouts.

[2020-01-31 21:10] circa1977 opened #85 "craft_spoon_blocktypes persists after plugin is removed"
I removed the plugin and the database table is still intact.

[2020-01-31 21:12] circa1977 commented on #84
After removing the plugin (see #85), `craft_spoon_blocktypes` has 5 records. 3 of those have `fieldLayoutId` values that are not `null`. They are:

* `30`
* `31`
* `32`

Table `craft_fieldlayouts` only goes up to id=`29`.

[2020-01-31 22:09] joshangell commented on #79
Hey @dennisfrank - fingers crossed I’ll have it fixed by the middle of next week, in the mean time yes you should be able to disable the plugin from Settings > Plugins and it will keep your data.

[2020-01-31 22:16] joshangell commented on #84
Hi @circa1977, sorry you’re experiencing this issue.

Whilst I’m working on a fix for #79 you could try dropping that table entirely if you don’t mind losing the field configurations. It was an oversight on my part to not drop it when running uninstall - I will fix that during this next sprint.

If you want to resolve the error temporarily, I think what you’re running into can be solved by removin

[2020-01-31 23:06] circa1977 commented on #84
Per #79, if I enable the plugin, I can't access anything in the control panel. The moment I removed those fields, a disconnect emerged. Rolling back the database showed the plugin present, but not installed. If I install it, every control panel returns that error.

I had to remove the plugin. I've been purposely staying very lean on plugins in Craft to avoid conflicts and upgrade issues. Lesson le

[2020-02-04 14:31] jamielaughton commented on #79
Spoon also isn't working within Solspace Calendar, the blocks are empty and cant be expanded.

Feels like similar issues to the other stuff so hopefully it this will be fixed with those.

[2020-02-04 16:26] joshangell commented on #79
Hi @jamielaughton - just dropped you an email, you should be able to road test the fixes from the develop branch now.

If anyone else wants to as well this update will fix this issue and #80 - temporarily update your `composer.json` version to use `dev-develop` and then run `composer update`.

Please do let me know the results so I can debug anything that goes wrong!

[2020-02-04 16:29] joshangell commented on #80
Please see this comment for how to road test the current fix: https://github.com/angell-co/Spoon/issues/79#issuecomment-581993328

Any help testing would be much appreciated!

[2020-02-04 19:25] circa1977 commented on #85
After uninstalling this, it's still referenced in project config, which is preventing me from pushing to my server. Frustrating.

[2020-02-04 20:14] BrianBravo commented on #79
`dev-develop` works for me. Looking forward to the official update.

[2020-02-04 20:22] joshangell commented on #79
Excellent news, thanks @BrianBravo!

[2020-02-04 20:25] joshangell commented on #85
Is the plugin still referenced in the plugins key? Or is it just the `spoonBlockTypes` that’s still present?

[2020-02-04 20:38] circa1977 commented on #85
The plugin was still referenced. I had to do project-config/rebuild to clean it up.

[2020-02-04 21:13] joshangell commented on #85
OK that’s interesting, I don’t think plugins have control over that ... we can remove database tables etc but the plugins key is controller by Craft.

Still, I’ll look into it when I address the original part of this issue this week.

[2020-02-05 09:07] jwktje commented on #79
I tested the dev-develop too on the latest craft version and all seems to work perfectly! Thanks for the fix.

[2020-02-05 16:22] joshangell commented on #82
OK - fix incoming in the tonights release - it was a bit of a hack dropped in to fix someone else’s edge-case, turns out it wasn’t a good idea!

[2020-02-05 16:35] #79 closed

[2020-02-05 16:35] #82 closed

[2020-02-05 16:35] #80 closed

[2020-02-05 17:20] johndwells commented on #82
:clap: Gotta love those "fixes"... Thanks Josh! :)

[2020-02-05 21:14] lindseydiloreto opened #86 "Error on installation"
I just installed Spoon on a brand new Craft install, and it immediately kicked up this error...

<img width="716" alt="Ω 2020-02-05 at 1 02 49 PM" src="https://user-images.githubusercontent.com/5309692/73883119-33946680-4818-11ea-8861-e0092a9de0ae.png">

In fact, the entire site is now locked down with this error. Fortunately, I just spun this site up from scratch 10 minutes ago!

Craft: 3.4.3
Spo

[2020-02-05 21:23] joshangell commented on #86
Argh! Thanks for that Lindesy - clearly didn’t add these fields to the install migration ....

[2020-02-05 21:24] lindseydiloreto commented on #86
Lol, whoops. At least I discovered it on a burner site! 👍

[2020-02-05 21:26] joshangell commented on #86
I’m very grateful! Fix incoming shortly ...

[2020-02-05 21:36] #86 closed

[2020-02-05 21:37] joshangell commented on #86
@lindseydiloreto try that!

[2020-02-05 21:49] lindseydiloreto commented on #86
That totally fixed it!! Thanks @joshangell! 🍺

[2020-02-06 03:34] curtishenson opened #87 "3.5 Undefined Index in Migration"
When updating from 3.4 to 3.5 I'm getting an error in the new migration.

It's a pretty new install of the plugin. I've only setup 1 matrix block, and I'm pretty sure that was _right_ before upgrading Craft to 3.4. Any ideas?

[code]

[2020-02-06 06:30] joshangell commented on #87
Ah interesting, thanks for this Curtis - I’ll have a look at that today.

[2020-02-06 14:35] G17creative opened #88 "Can't access the plugin settings"
Hi, we added a new super table field inside our matrix field and went to add through the settings of the plugin and got the following error:

Twig Runtime Error – Twig\Error\RuntimeError
Key "superTableBlockType:6b3b6525-20d0-4d9d-a4ef-1fd439049309" for array with keys "superTableBlockType:a19a9ad1-5449-4dd3-bc8d-c488c39aa595, superTableBlockType:73a83adf-97b5-4f27-bf35-fcfcbaaa58f2" does not exis

[2020-02-06 15:56] joshangell commented on #87
Hmm OK this is a bit weird, could you try rebuilding project config from the cli?

Run `./craft project-config/rebuild`

[2020-02-06 16:04] joshangell commented on #88
Could you try clearing your caches and trying again? Sorry, I can’t reproduce this at the moment.

Also please let me know what Craft, Spoon and PHP versions are you using.

[2020-02-06 18:05] curtishenson commented on #87
Same error. So I downgraded spoon and tried rebuilding and got that error as well. Uninstalled and same error.

So I'm guessing this isn't anything to do with your plugin. Sorry!

[2020-02-06 18:05] #87 closed

[2020-02-06 19:05] joshangell commented on #87
Phew! It was a bit weird so I’m glad it wasn’t just me 😂

On Thu, 6 Feb 2020 at 18:05, Curtis Henson <notifications@github.com> wrote:

--
-Josh
angell.io - specialist Craft CMS development and consultancy

[2020-02-06 19:42] curtishenson commented on #87
So in case anyone runs into this in the future: Re-saving my matrix block fields fixed it. It was one in particular that fixed it. I believe it was missing a fieldLayoutId for something.

[2020-02-06 22:17] lindseydiloreto opened #89 "Migration issue going from 3.3.x -> 3.5.x"
I bumped into this issue when trying to make the big leap...

[code]

[2020-02-07 09:05] G17creative commented on #88
Just cleared all the CMS caches and all browser cookies and still getting the error. Tried uninstalling and removing the plugin too.

PHP: 7.2.20
Craft: Pro 3.4.4.1
Spoon: 3.5.1

[2020-02-07 10:16] jamielaughton commented on #79
@joshangell apologies for delay.

This is great! Working on perfectly on dev and after being pushed through deployment to staging

[2020-02-07 10:21] joshangell commented on #79
Ace! Glad to hear it 🎉

[2020-02-07 15:51] joshangell commented on #85
Right, after some digging I can’t see the specific issues you were facing, the table is dropped from the DB for me as is the spoon part of the plugins key in project config.

However the other spoon data was still left in project config, so I have also removed that on uninstall.

[2020-02-07 15:51] #85 closed

[2020-02-07 16:20] #84 closed

[2020-02-07 16:20] #89 closed

[2020-02-07 16:22] joshangell commented on #88
OK thanks, I’ve just pushed an update that doesn’t directly address this but might affect it, I’m not sure. Could you update and try again for me?

Thanks, and sorry for the faff!

[2020-02-07 20:39] lindseydiloreto commented on #89
Awesome, thanks @joshangell! 🍺

[2020-02-11 10:54] G17creative commented on #88
Hi Josh, sorry still getting the same error message.

Can you see any issues if I delete the Spoon blocktype table from the database?

[2020-02-12 06:26] joshangell commented on #88
Hey, sorry for the delay.

If you update to the latest version and then uninstall and reinstall the
plugin it should remove the block types from your project config which I
think is what’s causing the issue.

Try that and let me know, I’m still unable to reproduce this unfortunately!

On Tue, 11 Feb 2020 at 10:54, G17creative <notifications@github.com> wrote:

--
-Josh
angell.io - specialist Craft

[2020-02-20 21:58] jeffaglenn commented on #87
I'm having this error as well. @curtishenson, how were you able to re-save your matrix blocks? I'm not able to get past the `To complete the update, some changes must be made to your database.` screen because it keeps throwing the error.

[2020-02-20 22:07] curtishenson commented on #87
I downgraded to 3.4 to re-save the matrix fields. I think that screen goes away when you downgrade.

[2020-02-27 22:24] engram-design opened #90 "Integrity constraint violation with Project Config"
Had the following issue after editing blocks locally, and pushing to production.

[code]

This also left 10 out of 13 block types 'reset' so I had to set them up through Spoon again.

[2020-02-28 15:49] jeremyfrank opened #91 "Migration issue going from 3.4.3 => 3.5.2"
I think there may still be an issue in the latest migration file, but I'm not sure exactly what it might be. Similar to #89 and #87.

-----

We recently did a batch of updates, including the following:

1. update Craft 3.3.20.1 => 3.4.8
2. update Spoon Plugin 3.4.3 => 3.5.2

Things went smoothly in my dev environment, but upon deploying to our staging environment, the Spoon migrations failed.

[co

[2020-03-03 16:54] mtwalsh opened #92 "Error when Craft attempts to generate asset thumbnails"
Hi Josh,

Hope you're well.

I've just upgraded a site to Craft `3.4.9` and I'm noticing errors when Craft makes AJAX requests to generate asset thumbnails on the Assets page.

[code]

Disabling the plugin resolves the issue.

- Spoon 3.5.2
- PHP 7.3.14

[2020-03-05 11:48] qrazi commented on #90
Running into this too, Craft CMS 3.4.9 and Spoon 3.5.2. The matrixBlockType in question is new, defined in `project.yaml` by another developer. So probably for some reason Spoon tries to add a record that is not added by Craft yet (as I cannot find this record in my DB. But that could also be due to failed transactions?).

[2020-03-05 11:53] qrazi commented on #90
Should probably do a check similar to: https://github.com/craftcms/cms/blob/develop/src/services/Matrix.php#L325

[2020-03-05 12:36] joshangell commented on #90
@qrazi you hero, thanks for finding that! If you want to PR it that would be a big help.

[2020-03-05 12:53] qrazi commented on #90
@joshangell I am still testing / investigating on my end, but I'll try and isolate this bug and do a PR (the issues on my end include more things than just this one... 😬 )

[2020-03-05 13:10] joshangell commented on #90
@qrazi aaaah sorry about that, there are an increasing number of edge case bugs popping up that are frustratingly time consuming to fix!

[2020-03-05 13:16] qrazi commented on #90
@joshangell No worries! I mean in the project I am working, not specifically this plugin 😅

[2020-03-05 15:29] qrazi commented on #90
Ok, things are up running on my environment again, and right now I do not need the check similar to the Matrix-service. The other issues I kept running into when syncing the `project.yaml` were cause by duplicate MatrixBlockFields.

I am still not a 100% why that ended up in Spoon trying to insert a record before the accompanying MatrixBlockField was inserted, but probably because when searching b

[2020-03-06 03:09] engram-design commented on #90
So, I believe what happened at the time, was the Matrix blocks themselves didn't update, or something went wrong, and due to that, Spoon tried to do its thing without having the Matrix blocks properly sorted first.

It's all a bit vague, but it was pretty urgent to fix at the time, so had to revert things, and manually set things up from scratch.

[2020-03-06 09:19] qrazi commented on #90
Yes, we've been doing that a lot too. It's really easy to get these kind of issues in Craft CMS. Development discipline remains key. However, the PR would point developers a bit more in the right direction I think.

[2020-03-09 17:13] lukebailey commented on #91
We are seeing the same issue (identicalty version updates)

![image](https://user-images.githubusercontent.com/3185073/76239301-3d4f2680-6229-11ea-8884-68a23e387dcc.png)

[2020-04-17 19:28] mzlock opened #94 "Multisite - Entry Type custom config not working on secondary site"
My set-up:

- Multisite
  - primary site is `example.test`
  - second site is a route-based sub-site, not a subdomain: `example.test/site`
  - both are the same language
  - each site is in a separate Site Group
- "Page Builder" Matrix
  - a matrix with two blocks (will be more, just testing right now)
  - matrix set to share blocks across sites in a Site Group for multisite "translation" settings

[2020-05-03 17:07] saadirfan opened #95 "Compatibility with Craft 3.4.16"
I'm having a weird issue with Spoon 3.5.2 on Craft 3.4.16. The layout changes I'm making at Setting > Spoon, are storing just fine, but those changes aren't reflecting while editing the entries.

If I go back to Settings > Spoon, the changes are well intact.

Could you confirm if the Spoon 3.5.2 is compatible with the Craft 3.4.16? I've also tried downgrading to Spoon 3.5.1, but no dice.

Craft CM

[2020-05-12 21:18] davist11 commented on #90
Was there any sort of resolution to this problem? I'm seeing the same thing happen that it's trying to sync the spoon config before the block types

[2020-05-18 13:44] mustasj commented on #91
We are having this issue too, getting the same error as @jeremyfrank.

[2020-06-14 23:00] dennisfrank commented on #90
I am running into this too. @engram-design Have you checked PR #93?

[2020-06-16 08:27] Collinvdv commented on #90
Same problem here..

[2020-06-18 17:21] chasegiunta opened #96 "Updating Spoon to 3.5.2 deletes almost all Craft CMS fields"
I'm just putting this on your radar, but since we've decided to move onto another Matrix solution I won't really be able to troubleshoot with you. I'm just mentioning it as a courtesy but feel free to close.

After updating a site from Craft 3.3.19 to Craft 3.4.24 successfully, the very first update we tried to run was Spoon (3.4.3 to 3.5.2), but doing so actually removed all but like 6 Craft CMS

[2020-06-18 18:17] joshangell commented on #96
Good Lord, thanks for letting me know. This is highly likely project config related, and issues abound with that. Its particularly weird as Spoon doesn’t actually touch the fields key in project config at all, it has its own key that it works within so I have no idea how this happened.

I will see if I can reproduce it my end, but frankly at the moment reproducing most of the bugs that come in is

[2020-06-24 01:47] dennisfrank commented on #90
?

[2020-06-24 01:59] engram-design commented on #90
@dennisfrank Haven't tried the PR - did it work for you?

[2020-07-21 14:30] cherrykoda commented on #90
Just ran into this myself - any word?

[2020-07-21 15:11] davist11 commented on #90
We've started to switch some projects over to https://plugins.craftcms.com/matrixmate since there hasn't been much action here. Just in case that could be helpful to anyone.

[2020-07-29 04:39] howells opened #98 ""Right-hand side of 'instanceof' is not an object error" when updating to Craft 3.4.30"
When I updated to Craft 3.4.30, none of my Matrix fields were visible, with the following error shown in Console:

[code]

When I disabled Spoon (version 3.5.2), the fields were visible again.

[2020-07-29 08:45] joshangell commented on #98
Hey @howells thanks for this, I’m due to sit down and debug some stuff on this today so I’ll take a look shortly.

[2020-07-30 11:37] tigerchick commented on #98
I just got the same issue.

[2020-07-30 12:02] joshangell commented on #90
I can finally reproduce this! Will be aiming to fix asap.

[2020-07-30 14:07] joshangell commented on #98
Definitely fixed in the next release @tigerchick - its down to recent Super Table changes.

[2020-07-30 14:13] tigerchick commented on #98
Thank you so much for looking into this so quickly Josh.
I hate to be "that guy", but any idea when that might be? Was meant to be getting something out today but I can probably revert to the previous Craft version if you need a bit of time.

[2020-07-30 14:18] joshangell commented on #98
will be releasing today - maybe around 7:30pm UK time if I can’t do it in the next ten mins lol

[2020-07-30 14:19] joshangell commented on #98
You can always update your `composer.json` to use `dev-develop` instead of the version constraint.

[2020-07-30 14:20] tigerchick commented on #98
Awesome! :)

[2020-07-30 14:23] joshangell commented on #90
OK - seems like the PR #93 fixes this - have tested against my reproducible case an it fixes that, though I’m not going to rule out it not fixing other situations so please do re-open this if that is the case.

[2020-07-30 14:27] #92 closed

[2020-07-30 14:27] #98 closed

[2020-07-30 14:28] joshangell commented on #56
Anyone else seeing this? I can’t reproduce so am closing it for now - if anyone does see it please do re-open and send me a db and composer.json so I can try track it down.

[2020-07-30 14:28] #56 closed

[2020-07-30 14:33] joshangell commented on #88
Hey - there have been some fixes to project config stuff today that may affect this, I’m going to close the issue for now but please do re-open it if you are still seeing the error.

[2020-07-30 14:33] #88 closed

[2020-07-30 14:34] joshangell commented on #94
Hey! Sorry for the delay on this one - it slipped through somehow and I’ve just seen it as I’ve been triaging issues ... I will try and look into it as soon as I can for you. Thanks for the detailed setup!

[2020-07-30 14:37] joshangell commented on #81
Hey - this might be a UX thing with the plugin from what I can work out, are you saying that you have a grouped setup already for a Matrix field, then you go add a new block and expect it to appear in the groups? If so, every time you add new blocks to the Matrix field you have to go and add them to the groups you want them in as well - it doesn’t pick up new blocks without doing that.

[2020-07-30 14:37] #81 closed

[2020-07-30 14:52] tigerchick commented on #98
Superb! You've nailed it. Thank you :)

[2020-07-31 09:05] joshangell commented on #96
OK I have no idea how this happened and can’t reproduce it so am closing for now.

[2020-07-31 09:05] #96 closed

[2020-07-31 09:09] joshangell commented on #96
Actually having said that I think it might be a similar issue to #91 so I’m going to consolidate there.

[2020-08-17 17:59] ccchapman opened #99 "Cannot use Spoon settings UI on Craft 3.5"
# Steps to Reproduce

1. `composer require angellco/spoon`
1. Install plugin in CP
1. Navigate to Spoon settings page
1. Click your Matrix field and see the "Group  your block types" dialog appear
1. Click "New Group"

## Expected Behaviour

A new group is created.

## Actual Behaviour

Nothing happens. (And no errors in the console.)

### composer.json

[code]

[2020-08-17 18:48] joshangell commented on #99
Thanks @ccchapman - I’ll work on that ASAP, probably tomorrow if I can.

[2020-08-18 11:27] davidhellmann commented on #98
@joshangell
Looks like I've a similar Problem
Spoon: 3.5.3
Craft: 3.4.30

It looks like this:
![image](https://user-images.githubusercontent.com/764292/90507564-6075ee80-e156-11ea-874a-904681b4beb4.png)

When I close the Blocks it looks like this:
![image](https://user-images.githubusercontent.com/764292/90507599-71befb00-e156-11ea-823f-c31a9169301b.png)

When I reopen the Blocks all is fine:
![im

[2020-08-19 21:13] jeffBenusa commented on #99
Likely the same issue -

` "angellco/spoon": "3.5.3",`

Also unable to reorder or edit block types.

[2020-08-27 10:26] Djive commented on #99
Josh .. i see you made some updates...
Will you push that in Store.. soon

[2020-08-27 10:47] joshangell commented on #99
Hi Djive, I’m currently away on holiday so will get it finished up
Monday/Tuesday next week and released.

At the moment the changes I’ve made don’t fully make it compatible with
3.5, but it’s a long way there.

On Thu, 27 Aug 2020 at 11:27, Djive <notifications@github.com> wrote:

-Josh
angell.io - specialist Craft CMS development and consultancy

[2020-08-27 12:06] Djive commented on #99
ok thx for info

[2020-09-02 13:18] harrymee123 commented on #99
Hi Josh,

Any update on a release date?

Cheers,
Harry

[2020-09-02 14:20] joshangell commented on #99
Hi @harrymee123 sorry I’ve been delayed by client work and moving back into the office, I’ll be working on this tomorrow and Friday so fingers crossed by the end of the week :)

[2020-09-02 14:26] harrymee123 commented on #99
Hi @joshangell

No worries! Thanks for the update!

👍

[2020-09-09 17:33] mattaebersold commented on #99
Hoping for a fix on this soon also

[2020-09-09 19:03] joshangell commented on #99
Sorry everyone - been waylaid and now away until next week.

Really hoping to get it finished up then!

You can try the develop branch if you’re only using groups and not tabs but
I would take a backup first...

On Wed, 9 Sep 2020 at 18:34, Matthew Aebersold <notifications@github.com>
wrote:

-Josh
angell.io - specialist Craft CMS development and consultancy

[2020-09-21 10:04] johnwbaxter commented on #99
Yo Josh, is this very nearly done? I've just added it to a new project and it's unusable!

[2020-09-21 10:35] joshangell commented on #99
@johnwbaxter Sorry, only just resurfacing ... apologies! Am working on it today / tomorrow, will let you know!

[2020-09-21 10:53] johnwbaxter commented on #99
Cheers mate!!

[2020-09-23 15:13] joshangell commented on #99
Right, I _think_ its ready - anyone care to test on their local copy of a site etc? @johnwbaxter @mattaebersold @harrymee123 ?

[2020-09-23 15:13] joshangell commented on #99
You can just update your composer.json version constraint to `dev-develop`

[2020-09-23 15:16] joshangell commented on #99
@harrymee123 man that was fast! Did you test changing config at all? Using the global settings or per-context (entry type, product type etc) settings?

[2020-09-23 15:23] harrymee123 commented on #99
@joshangell Haha I did it yesterday when I saw you did another commit. I've been using it today with no issues yet. All I've done so far is create a new block within a matrix field and move it into separate tabs. Which was the key thing for me to get working.

I'll have a proper look soonish and let you know if anything falls over.

[2020-09-23 15:49] harrymee123 commented on #99
@joshangell Functionally everything I've tried has worked.

However, when I click a settings cog for a block within the matrix field, there is no indication a new modal is about to pop up and is just waiting for save to run. So if you click the cog multiple times before the new modal pops up a weird thing happens.

All the fields are duplicated within the view. See image below:
![Screenshot 2020-0

[2020-09-23 19:49] brycekirk commented on #99
I'm seeing the same issues, using the `dev-develop` branch as well

[2020-09-24 10:22] joshangell commented on #99
OK I’m getting some weirdnesses here as well, I’ll get those fixed today and then hopefully I’ll be able to release it.

[2020-09-24 14:29] joshangell commented on #99
Right @brycekirk and @harrymee123 if you could possibly give it another whirl ... to get rid of those extra fields / blocktypes either remove all but the ones you want to keep and save, or nuke the corresponding files in `config/project/spoonBlockTypes` and run `./craft project-config/apply`.

[2020-09-24 15:50] brycekirk commented on #99
@joshangell I just updated dev-develop, dragged out the cloned fields and saved, but when I opened the matrix up again the clones all re-appeared

[2020-09-24 16:25] joshangell commented on #99
Can you try finding them in the project config folder and removing them
there?

On Thu, 24 Sep 2020 at 16:50, Bryce Kirk <notifications@github.com> wrote:

-Josh
angell.io - specialist Craft CMS development and consultancy

[2020-09-24 17:04] brycekirk commented on #99
I'm back on commit c86150 and the duplicates have disappeared from the CP strangely. I need to do a site release later so I'm hesitant to touch anything at the moment. Plus there are 184 files in `config/project/spoonBlockTypes`...

[2020-09-24 18:42] joshangell commented on #99
Right, so they have appeared because that bug in the dev branch created
duplicate spoon block types (like fake wrappers for matrix block types).

Do you have a previous git commit in your repo you can revert to that will
reset your project config?if you have then revert to that and run `./craft
project-config/apply` - Spoon should then show the original configuration
you had correctly.

On Thu, 24

[2020-09-24 18:48] joshangell commented on #99
@brycekirk Ah sorry I misread that - you said the duplicates have disappeared ... that is _very_ weird if they have because they are stored in project config, did you roll back your local git repo or something?

[2020-09-24 20:07] brycekirk commented on #99
No, but

No, but I believe I overwrote the local database

[2020-09-25 10:08] joshangell commented on #99
OK these changes are now merged and released in [3.6.0](https://github.com/angell-co/Spoon/releases/tag/3.6.0).

[2020-09-25 10:08] #99 closed

[2020-10-08 22:18] strandofgenius opened #101 "3.6.0 causing issues in live preview"
I have a set of matrix blocks for different content types. Before upgrading to 3.6.0 I added a new field to one of the blocks in the core Craft field editor and then realized I couldn't edit the blocks in Spoon settings until I upgraded. Since upgrading, I added the new field to the matrix block, and now when I want to add additional blocks to a page only the type that I added the field to display

[2020-10-09 18:13] strandofgenius commented on #101
Turns out it might be related to this : https://github.com/craftcms/cms/issues/6902

[2020-10-09 18:13] #101 closed

[2020-10-10 10:59] joshangell commented on #101
Phew! Thanks for letting me know @strandofgenius 👍

[2020-10-15 21:45] mattaebersold opened #102 "500 on saving block settings"
I'm trying to save tabs, but after the first successful save, it's throwing a 500 on `/index.php?p=admin/actions/spoon/block-types/save` every time I try to make any change now, even when backing out, and getting into the spoon settings again

Craft: `3.5.13`
Spoon: `3.6.0`

![image](https://user-images.githubusercontent.com/435606/96189169-db5c4b00-0ef4-11eb-867c-557a8455acf5.png)
![image](https:

[2020-10-16 15:13] joshangell commented on #102
Hey, thanks for reporting this @mattaebersold - could you send me the response output from your console as well? Or the Craft error log output - either is fine.

[2020-10-16 16:54] mattaebersold commented on #102
@joshangell

`Failed to load resource: the server responded with a status of 500 ()` / `/index.php?p=admin/actions/spoon/block-types/save:1 `

The only place I see spoon in the logs is listed in `HTTP_X_REGISTERED_ASSET_BUNDLES`

[2020-10-16 17:16] mattaebersold commented on #102
Also, I tried dumping the yaml files in config like mentioned in the ticket about upgrading from 3.4.x to 3.5.x (since we did do that upgrade when the new 3.6.0 of spoon was released)

[2020-10-16 18:04] joshangell commented on #102
Ah, did you update to 3.5 first? You will probably need to do that first,
check things are saving then if they are upgrade to 3.6.

If that fixes it I’ll update the changelog and docs to flag it, didn’t
think it would be an issue at first but just realised it could be!

On Fri, 16 Oct 2020 at 18:16, Matthew Aebersold <notifications@github.com>
wrote:

--
-Josh
angell.io - specialist Craft CMS deve

[2020-10-20 08:22] harrymee123 commented on #102
Hi @joshangell ,

I'm also getting the above issue when trying to save or click on the edit/cog for a component within a matrix.

The error I'm getting from the save request is:

`Trying to access array offset on value of type null`.

I was already on Craft 3.5 before I upgraded to Spoon 3.6.

Cheers,
Harry

[2020-10-27 21:27] mattaebersold commented on #102
Update here, and a possible line on a new issue (don't know if it's related)
- I updated to spoon `3.6` and cleared the spoonBlockTypes from the config
- I re-set spoon configs, tabs, etc. Things seem v. stable now... but
- a couple members of our team reported that they cannot see the tabs for blocks, just defaults to Craft's one big list. However, tabs within a block are showing up fine.
- peopl

[2020-10-31 07:01] joshangell commented on #102
Hi all, thanks for your patience - I’ve been slammed the past few weeks and
just catching up on things now.

I’ll see if I can reproduce it next week and then hopefully fix it!

On Tue, 27 Oct 2020 at 21:27, Matthew Aebersold <notifications@github.com>
wrote:

--
-Josh
angell.io - specialist Craft CMS development and consultancy

[2020-12-02 14:46] aaroniker opened #103 "Error using Super Table plugin - Key does not exists"
I'm getting the following error on the settings page `/admin/settings/plugins/spoon`

Spoon 3.6.0
Super Table 2.6.4

<img width="1676" alt="CleanShot 2020-12-02 at 15 40 26@2x" src="https://user-images.githubusercontent.com/4730431/100887243-09054f80-34b5-11eb-8beb-5e6af381d8b3.png">

[2020-12-15 00:17] john-henry commented on #102
We are getting the same error

`Trying to access array offset on value of type null`

We upgraded to Craft 3.5 and Spoon 3.6 at the same time. Seemed to be no migration issue when it was done but now running into this

[2020-12-17 01:04] dwaring commented on #94
@joshangell - Any update regarding this issue?

[2021-01-28 09:13] Collinvdv opened #104 "Double fields"
I am using spoon to organise a big matrix field, I love the fact that the user who has to input thing don't have a long list of fields but get the information more organised.

It worked fine but lately I've got a lot of problems with the plugin.
After a couple of times I receive double blocks in my spoon admin panel and this causes a lot of problems when syncing project yaml to several environment

[2021-02-09 14:41] johnwbaxter opened #105 "Undefined index: fieldLayout"
Hi Josh,

I'm getting an error when I run the project config update from some local changes.

[code]

I'm running the latest Spoon and Craft 3.5.15.1

Cheers!

[2021-02-09 15:26] #105 closed

[2021-02-09 15:34] joshangell commented on #102
Anyone still getting this issue? I can’t reproduce it yet but if you are please do send me as much detail as you can and I will try my best to reproduce it ...

[2021-02-09 15:37] joshangell commented on #104
Hi @Collinvdv - you’re probably not doing anything wrong! Sorry you’re having issues, couple of things you can try:

- Rebuilding your project config using `./craft project-config/rebuild`
- Delete your block type configurations, re-create them and see if the issue persists
- Check if there are any browser console errors when you see the issue

Let me know if you’re still seeing problems and send

[2021-02-09 15:38] joshangell commented on #103
Sorry for the rather delayed reply - was this after a project config sync? If so, you might need to run `./craft project-config/rebuild` first then check again.

[2021-02-09 15:43] joshangell commented on #23
Closing as new field layout engine in Craft 3.5 is in use and you can just use the search to find the field, which should avoid this problem.

[2021-02-09 15:43] #23 closed

[2021-02-09 15:45] #19 closed

[2021-02-09 15:47] joshangell commented on #47
Probably not going to do this ... if anyone wants to open a PR then I’ll happily review it, I’m keen to not overcomplicate things.

[2021-02-09 15:47] #47 closed

[2021-02-09 15:49] joshangell commented on #63
Triaging things - probably not going to add this ...

[2021-02-09 15:49] #63 closed

[2021-02-11 16:19] aaroniker commented on #103
Still running into the same issue after rebuilding the config  (also updated to 3.6.1)

[2021-02-11 19:58] aaroniker commented on #103
seems that the error occurs if a matrix field is in a super table field - is that something you are able to fix? :)
we would love to continue using that plugin

[2021-03-26 19:17] oles opened #106 "Width/column specified on a block's field is missing when a block has a Spoon tab"
It seems that the width/column specified in the field settings:

![Screenshot from 2021-03-26 20-13-15](https://user-images.githubusercontent.com/7634050/112682008-c99dad00-8e6f-11eb-9498-f6a9190bee3e.png)

Is ignored/removed when a block is configured to have tabs via Spoon:

![Screenshot from 2021-03-26 20-11-02](https://user-images.githubusercontent.com/7634050/112682087-e76b1200-8e6f-11eb-8619

[2021-04-08 00:40] joshuapease opened #108 "Matrix inside of Super Table doesn't seem to work"
## Description

Thanks so much for your help! I'm working on a project that uses a Super Table field that contains a nested Matrix field. We're hoping to create groups for the Matrix blocks.

The plugin UI shows the nested Matrix field, and even lets me create our desired block groups.

<img width="400" src="https://user-images.githubusercontent.com/2145998/113950815-1e71e980-97c7-11eb-82ee-350756

[2021-05-04 10:31] michaelroper commented on #102
@joshangell yeah, i often get error 500 issues trying to do most things within Spoon settings. Sometimes i just have to wait a bit longer and try again, sometimes i have to go completely out of the page and come back, and sometimes it just works... really slowly.

Same error in the logs as some of the above:
```Trying to access array offset on value of type null in /app/vendor/angellco/spoon/src/s

[2021-06-03 08:57] paulwaddington commented on #108
We're seeing the exact same issue and use this plugin across all of sites!

[2021-06-10 13:02] cookie10codes opened #111 "Project config 'Undefined array key "field"'"
I had a tab added in the settings and removed it. When trying to deploy, I got an 'Undefined array key "field"'. If I looked at the project yaml file, the file contents was only `fieldLayout: null` which caused the bug.

After removing the file, it was fixed but this shouldn't be the normal behaviour I think :-)

<img width="331" alt="Screenshot 2021-06-10 at 14 59 58" src="https://user-images.git

[2021-06-15 09:54] dGilli opened #112 "Resaves all `spoonBlockTypes` configs for no reason"
We have been getting complete rewrites of every `spoonBlockTypes` config file when changing something completely different in the CP.

[2021-07-09 23:00] smartpill commented on #106
I'm having the same issue.

[2021-08-04 12:59] terryupton opened #113 "Question: more detailed config (spoon.php) example"
Hey Josh.

Do you have a more detailed example of how to use the config file to setup Spoon?
I would like to use a config file so I can re-use it across projects for some matrix fields.

I am unsure how t structure this on the config file and what to define etc.

Thanks
Terry

[2021-08-19 08:26] mudechs commented on #108
Same here

[2021-08-30 22:39] marc524 commented on #108
Is there an ETA on this being fixed? Still seeing this in Spoon 3.6.1

[2021-08-31 10:39] joshangell commented on #108
Hey everyone - sorry for the radio silence, not going to lie I’ve been absolutely slammed just trying to stay afloat. I am hopeful I’ll have some free time soon to tackle some of the issues on this plugin, including this one. If I can it’ll be in the next 6 weeks or so.

[2021-10-14 06:52] kgollert commented on #108
Same here. Sadly the plugin stays `disabled` and is waiting for the fix since a year now :(

[2021-11-23 22:55] johnfoland commented on #102
I can confirm that this is still a bug on a license of Spoon purchased and installed today, with Craft and the Spoon plug-in being both fully up to date. I can only save/edit/delete my work in Spoon about one in every five times, and that's only if I use the hack proposed by @tigerchick in the previous comment. It also wreaks havoc on my project config, somehow refreshing its config YAML whenever

[2022-01-19 06:42] iicuken opened #115 "Matrix field groups are not working inside supertable"
I have all latest staff: craftcms, supertable plugin, spoon plugin, installed via composer.
My php version is 7.4. My webserver is lighttpd.
I have 2 fresh craft installs, 1 is for web site, and second  - super fresh is for craft testing.
And on both i have same issue:
 Field groups are working on simple matrix field perfectly.
 But on matrix field inside Supertable they not working at all.
Pls he

[2022-04-20 12:18] davidhellmann opened #117 "CraftCMS 4 Support and project status update"
Hey,

do you plan to support craft 4 and is there a rough timeline for it?
Thanks!

[2022-04-28 19:38] joshangell commented on #117
Hey - the answer is yes - timeline is unclear at the moment as I’m in the process of handing this plugin over to someone who will take good care of it going forward.

I’ve not really managed to maintain it properly over the last few years and my circumstances have now changed to the point that its really time I gave it a new home with someone who will give it the time and energy you folks deserve!

[2022-05-07 14:07] johnwbaxter commented on #117
Woo!

[2022-05-19 17:20] lindseydiloreto commented on #117
Ahoy there! If you're following this thread, you may have already noticed that Spoon has been transferred into the care of Double Secret Agency. While some of the details are still being worked out, you can see that this repo is now tied to our Github organization.

Updating to Craft 4 will be our top priority. You can expect Spoon to be C4 compatible **within the next 1-2 weeks**.

A special than

[2022-05-19 20:06] joshangell commented on #117
🙇‍♂️, exits stage right 👋

[2022-05-30 13:55] mortendk commented on #117
awesome :)

[2022-06-26 22:47] lindseydiloreto commented on #117
For those following this thread, a quick update...

We are still very actively working on the Craft 4 conversion. In fact, we believed we were about 90% finished when we ran into a snag. Apparently the _field layout designer_ (something Spoon relies heavily on) changed notably in Craft 4. It put us in a tricky position... should we rebuild the FLD in Vue, or hack it further to try and get it worki

[2022-07-08 20:09] Joobs commented on #104
I am having this issue.

My workflow is work on dev and sync on production. For for some reason this often creates double or tripple fields.

[2022-07-08 20:11] fthues commented on #104
Are you maybe not removing old files as part of the deployment process? This can happen when you're deploying using `rsync` without the `--delete` flag.

[2022-08-23 04:36] bossanova808 commented on #117
@lindseydiloreto Any further updates?

[2022-08-23 15:46] anbod-io commented on #117
- Over 1300 active installs
- 59 bucks for the first year, and I know I'm not the only one who has paid multiple renewal fees
- Lets be conservative and say the plugin in has pulled a good 100k

I good hunk of money, paid in good faith, and yet well over a 1000 sites in production are not permitted to update to Craft v4.
Can't really call that thing to be proud of, can we.

[2022-08-23 17:03] lindseydiloreto commented on #117
@bossanova808 Fair question. I’ve made some progress, albeit slowly.

Rebuilding the field layout designer in Vue has been a massive undertaking. It's been a significant learning curve for me, getting my head around the nuances of Vue 3 and Pinia. I even enlisted @michtio to help speed up the process... I’d like to think the worst of it is now behind us.

I’m hoping to have everything all wrapped

[2022-08-23 17:06] lindseydiloreto commented on #117
@anbod-io It would be nice if you gave me 24 hours to respond to Jeremy before deciding to get all huffy about it.

To be clear, we acquired Spoon _after_ Craft 4 had already been released. If you've been following this thread, you'll notice that Double Secret Agency has only owned this plugin for a few months, and we've spent much of that time trying to get Spoon up to speed for Craft 4.

I respe

[2022-08-23 22:32] bossanova808 commented on #117
Did not mean to kick up a fuss, and understand your difficulties @lindseydiloreto ...but also trying to find a way forward.  Obviously, given Spoon doesn't touch data, I can just install and carry on, then later re-install.

Only issue with that is that our content editor would take a giant leap back in terms of niceness-of-use, and that config would be lost (there's no way to save config to reloa

[2022-08-23 23:37] lindseydiloreto commented on #117
That's a great question @bossanova808, and I'm not sure I know the answer. It looks like Josh had to rig up some custom code for Project Config to get it to play nicely. I'm not certain how stable that was on Craft 3, or how much it's changed in Craft 4.

If possible, I'd recommend holding out hope a little longer. I know I've promised it before, but I should realistically have the plugin done wit

[2022-09-15 22:53] lindseydiloreto commented on #117
![Farnsworth](https://user-images.githubusercontent.com/5309692/190520252-fc0d5b9f-22b2-498d-a1be-6f2cfe5844bf.png)

It took _a lot_ longer than expected, but I've finally done it... feast your eyes on **a Craft 4 compatible version of Spoon!**

[code]

^ Just pop that line into your `composer.json` file (or update the line that's already there) and run `composer update`.

---

### Vue-based Field

[2022-10-04 11:13] tomdavies opened #119 "[4.0.0-beta][bug] error on plugin settings page when Super Table installed"
Howdy folks 👋. When attempting to navigate to the plugin's settings page in the CP with Super Table installed, an error is thrown:

[code]
This is just due to the [service name having changed in the C4 version of that plugin](https://github.com/verbb/super-table/tree/craft-4/src/services). Changing

[code]

to
[code]

fixes the error

FWIW I am running:
- Craft CMS 4.2.5.2
- Spoon 4.0.0.beta-1
- S

[2022-10-04 22:25] lindseydiloreto commented on #115
This is now fixed in **Spoon 4.0** (compatible with Craft 4).

Thanks for reporting! 👍

[2022-10-04 22:25] #115 closed

[2022-10-04 22:27] lindseydiloreto commented on #119
Thanks for reporting! This change has been included in **Spoon v4.0.0** (post-beta).

[2022-10-04 22:27] #119 closed, assigned to nobody

[2022-10-04 22:32] lindseydiloreto commented on #117
Quick follow up... **Spoon 4.0 has graduated from beta!**  🍾

[code]

The plugin is now compatible with Super Table, and seems to be pretty stable on Craft 4. There may still be minor bugs to find, but there's no reason to keep it in beta now that we have Super Table compatibility.

If you discover any bugs, please open a new Github thread. Thanks for your patience everyone! ❤️

[2022-10-04 22:32] #117 closed

[2022-10-04 22:39] lindseydiloreto commented on #108
Hello everyone! I'm happy to say that Super Table compatibility has been restored in the latest version of Spoon. 🙏

To be clear, **Spoon 4.0** is now compatible with Super Table on **Craft 4.x**. (We won't be backporting this to Craft 3.x, but the fix will be waiting for you when you do eventually update to C4!)

[2022-10-04 22:39] #108 closed

[2022-10-05 09:30] tomdavies opened #120 "[bug] Spoon button not added to slide out due to comparison type error"
_FYI @lindseydiloreto moved this here from our conversation in Craft Discord_

I'm experiencing a bug on `4.0.0` whereby the Spoon button is not added to the field settings slideout on the field layout view, meaning that I can't configure per-field layout settings for Spoon.

I traced the issue to a bug in the JavaScript logic that decides whether to inject the Spoon button. Essentially the logic

[2022-10-07 22:14] #120 closed, assigned to nobody

[2022-10-11 11:28] tomdavies opened #122 "[bug] [4.x] Hidden block types can still be added via the settings "cog" icon on existing blocks"
Where Spoon has been configured to hide some Matrix blocks for a field layout, these hidden block types can still be added to the field still be via the settings "cog" icon on existing blocks:

<img width="865" alt="Screenshot 2022-10-11 at 12 21 53" src="https://user-images.githubusercontent.com/136308/195078022-897521df-966e-4cac-8cfb-19aebf210311.png">

The items in that list of matrix block ty

[2022-10-11 11:43] tigerchick commented on #122
plus 1  for this.
This recently caused me a little trouble with a client adding blocks they weren't meant to be able to!

[2022-10-11 13:33] tomdavies commented on #122
Having dug into this some more, there is code that should prevent this, but it never fires.

At the start of `FieldManipulator::initSettingsMenu()` we have:

[code]

The problem is `$settingsBtn.data('menubtn')` is _always_ `false`. Guessing this is due to a change to the edit screen JS in Craft 4

[2022-10-11 14:06] tomdavies commented on #122
Alright, I figured this out. The settings menu now uses `Garnish.DisclosureMenu` rather than the `MenuBtn` it used before. Fix is just a small JS change, PR inbound...

[2022-10-11 14:51] tomdavies commented on #122
PRed 😄

 CC @tigerchick in case you're in a hurry for a fix

[2022-10-12 09:13] tigerchick commented on #122
Thanks @tomdavies !

[2022-10-12 22:49] #122 closed, assigned to nobody

[2022-10-12 23:21] lindseydiloreto commented on #122
PR has been merged, and the fix has been released in **v4.0.2**.

Thanks for all of your recent contributions @tomdavies! 🙏